[2019-07-16 01:54] moonming opened #2 "add docker for centos"
we can install the rpm directly, for example:
sudo yum install -y https://github.com/iresty/apisix/releases/download/v0.5/apisix-0.5-0.el7.noarch.rpm

[2019-07-16 01:55] moonming commented on #2
@vkill I wonder if you are interested in doing this?

[2019-07-16 01:56] moonming opened #3 "add travis CI for docker"

[2019-07-16 14:01] vkill commented on #2
@moonming We usually compile from source code if it depends docker image that non-system level. maybe it conflicts with system library.

[2019-07-17 06:18] moonming commented on #2
what's `non-system level`? the docker image is not `FROM centos:7`?
I am not an expert about docker, so I want to know more details.  I hope it doesn't bother you.

[2019-07-17 08:22] vkill commented on #2
Yes, from [openresty/openresty](https://hub.docker.com/r/openresty/openresty/)

The system level images include [ubuntu](https://hub.docker.com/_/ubuntu/), [centos](https://hub.docker.com/_/centos/) and more. maybe "non-system level" is not exactly.

[2019-07-17 08:50] moonming commented on #2
based on openresty/openresty is not a good idea, APISIX will maintain it's own patches of openresty in the long term.
And compile from source code will introduce many dependencies packages, which are useless for runtime. So I think install openresty and APISIX's rpm packages is good enough.

[2019-07-18 02:49] vkill commented on #2
Maybe we should to provide two versions, build from rpm and build from source code, the related docker tags are 0.5-centos7 and master-centos7, what do you think?

[2019-07-18 08:39] moonming commented on #2
looks good to me.

[2019-07-19 05:50] moonming commented on #3
here is a example:https://github.com/c9s/r3/blob/2.0/.travis.yml

[2019-07-30 04:58] moonming opened #5 "add nightly version"

[2019-08-16 09:43] jeremyyin2012 opened #8 "The host networking driver is not supported on Docker Desktop for Mac, Docker Desktop for Windows, or Docker EE for Windows Server."
docker-apisix docker-compose.yml using `network_mode: host` now, but the host networking driver only works on Linux hosts, and is not supported on Docker Desktop for Mac, Docker Desktop for Windows, or Docker EE for Windows Server. see [https://docs.docker.com/network/host/](https://docs.docker.com/network/host/)

`network_mode: host` used for best network performance, but if you run docker enviro

[2019-08-19 11:55] moonming commented on #8
@vkill please take a look.
@jeremyyin2012 PR is welcome:)

[2019-08-21 01:59] vkill commented on #8
Oh,  I have just knew that it's only works on linux. As a example, should change it to NAT mode.

[2019-08-21 03:56] linsir opened #9 "the admin api 404 not found"
the `port_admin` of `confg.yaml` is `9180`, but the dashboard the api BASE_URL is / ,dashboard is return 404 error.
I found in `nginx.conf`
[code]
a simple solution is cancel the `port_admin`.

[2019-08-22 01:57] #9 closed

[2019-10-10 07:50] moonming opened #15 "Official image in dockerhub"
https://docs.docker.com/docker-hub/official_images/
we need to add the official image of APISIX in dockerhub.

[2019-10-12 07:20] moonming opened #17 "discard openresty image"
we have to discard openresty image, build from alpine directly. Because openresty not has the official images in dockerhub.

[2019-10-12 07:46] #17 closed

[2019-10-13 11:52] moonming commented on #5
fixed by
[code]

[2019-10-13 11:52] #5 closed

[2019-10-16 04:20] moonming commented on #2
fixed by https://github.com/iresty/docker-apisix/pull/19

[2019-10-16 04:20] #2 closed

[2019-10-22 16:14] Tinywan opened #25 "/usr/bin/apisix:520: in function </usr/bin/apisix:497>"
etcd run

[code]

apisix run

[code]

config.yaml

[code]

curl result

[code]

![22222](https://user-images.githubusercontent.com/14959876/67306531-b45d7a00-f529-11e9-8c04-e8da35a9cabd.png)

[2019-10-23 01:57] Tinywan commented on #25
## Solution

pull low version etcd ，eg：3.3.13-r80
[code]

etcd run

[code]

run apisix

[code]

test result
![44444444444](https://user-images.githubusercontent.com/14959876/67349797-8a34a800-f57b-11e9-9842-d7d9602b72cc.png)

[2019-11-12 02:29] lgd8069465 commented on #25
[code]
config.yml , 192.168.192.128 is my host
[code]
why?

[2019-11-12 06:49] moonming commented on #25
@Tinywan please have a look, thx

[2019-11-12 10:28] Tinywan commented on #25
@lgd8069465
[code]

[2019-11-14 02:43] lgd8069465 commented on #25
@Tinywan it is problem with my etcd network , thanks .

[2019-11-16 00:46] lewismc opened #31 "WARNING: Ignoring http://mirrors.tuna.tsinghua.edu.cn/alpine/v3.9/main/x86_64/APKINDEX.tar.gz: network error (check Internet connection and firewall)"
When I attempt to build Docker artifact from master
[code]
...OR I try to build from release
[code]
I get the following issue
[code]
My environment as follows
[code]
I am based in the United States in California.
I wonder if the file for ```APKINDEX.tar.gz``` could be hosted on Apache CDN?

[2019-11-17 19:21] lewismc commented on #31
This seems to have magically resolved itself
[code]
CLOSING OUT

[2019-11-17 19:21] #31 closed

[2019-11-24 03:41] jiagoumengxiang opened #33 "No existing manifest. lua-resty-template-1.9-1.src.rock"
Installing https://raw.githubusercontent.com/rocks-moonscript-org/moonrocks-mirror/master/lua-resty-template-1.9-1.src.rock

No existing manifest. Attempting to rebuild...

Error: Could not satisfy dependency lua-resty-etcd 0.7: No results matching query were found for Lua 5.1.

[2019-11-24 08:24] chnliyong commented on #33
Pls supply more details about how you get this error, thanks!

[2019-11-25 13:24] #25 closed

[2019-11-27 15:21] membphis commented on #33
You can make a try now. I think it should be fine now.

https://raw.githubusercontent.com is already accessible, this is a network issue.

[2019-11-27 15:21] #33 closed

[2019-12-24 03:27] frozensoft commented on #8
Also should add a dns_resolver to config.yml, otherwise apisix will not able to resolve `etcd`.
[code]

[2020-01-06 10:14] alexzhu0592 opened #34 "docker-compose occurres error which is cause by no exist url"
Service 'apisix' failed to build: The command '/bin/sh -c apk add --no-cache --virtual .builddeps     automake     autoconf     libtool     pkgconfig     cmake     git     && luarocks install https://github.com/iresty/apisix/raw/master/rockspec/apisix-${APISIX_VERSION}-0.rockspec --tree=/usr/local/apisix/deps     && cp /usr/local/apisix/deps/lib/luarocks/rocks-5.1/apisix/${APISIX_VERSION}-0/bin/ap

[2020-01-06 10:22] alexzhu0592 commented on #34
i change the url to _https://github.com/apache/incubator-apisix/tree/master/rockspec/apisix-${APISIX_VERSION}-0.rockspec_, and it works.

[2020-02-25 02:39] RuizhaoLee opened #36 "Access 8080 port has response "404 Not Found""
I use docker to start apisix, and then visit http://127.0.0.1:8080. The response is "404 not found".
Do you have a built-in dashboard in the docker image of apsix?

My command to start the apinix container is as follows
[code]

![image](https://user-images.githubusercontent.com/35215628/75210231-7c0dc700-57bb-11ea-9a75-5e007dee7f73.png)

[2020-03-02 10:21] Akayeshmantha opened #37 "Docker compose not working (nginx: [emerg] invalid parameter: valid= in /usr/local/apisix/conf/nginx.conf:48)."
Hi All

I got the latest clone and tried to run apisix with docker-compose in the example folder.

I am getting the below log

[code]

[2020-03-02 10:21] Akayeshmantha commented on #37
@moonming

[2020-03-19 03:13] hiproz opened #40 "optimize the project directory，support more usercases"
1. move alpine and centos dirs to example dir
2. developers can add more cases in the dir of usercase[1:N] for  the different development

[2020-03-19 03:15] hiproz commented on #40
i can try this work :)

[2020-03-19 03:19] hiproz commented on #37
i think maybe some version conflict of openresty, the project has been update this days ,u can try the newest version

[2020-03-19 03:32] hiproz commented on #36
1. as your case ,u use the default router of nginx  ,pls check the nginx default conf file adn /usr/local/apisix/dashborad  of iresty/apisix
2. i suggest that u should use the docker image of this project

[2020-03-19 03:38] hiproz commented on #15
1. i think we can ref from the alpine or centos version image of this repo
2. i think we shoud provide an official image that include the apisix  etcd and dashbord

[2020-03-19 03:42] hiproz commented on #15
i can try this work from the 1.1 version of apisix  if that is possible :)

[2020-03-19 03:47] hiproz commented on #3
i think this is a necessary and interesting work

[2020-03-19 03:55] moonming commented on #3
@hiproz great, welcome PR:)

[2020-03-19 04:04] moonming commented on #15
@hiproz The official image in dockerhub is here: https://hub.docker.com/r/apache/apisix, which is binding with this repo.

It's good for beginner, welcome PR.

[2020-03-19 07:50] Akayeshmantha commented on #37
Hi @hiproz its because version mismatch of config files.

Add a tempory fix for now

[2020-03-19 07:50] #37 closed

[2020-03-22 08:30] moonming commented on #36
@RuizhaoLee the docker image not has built-in dashboard, we will fix it in next release.

[2020-03-22 08:30] #36 closed

[2020-04-14 06:54] to2false opened #42 "etcd-server could not be resolved (3: Host not found)"
I created a network named gateway, then let ectd-server and test-api-gateway joined this network.

[code]
[code]

But got error as the title after request
[code]
-------
**Specify ip works**

[2020-04-14 07:41] linsir commented on #42
You should change the etcd address to `etcd-server` in [config.yaml](https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L117)

[2020-04-14 07:45] to2false commented on #42
@linsir I changed it, If not, I won't get this error

[2020-04-14 09:16] linsir commented on #42
Try add  127.0.0.11 to `dns_resolver` in [config.yaml](https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml#L83)

[2020-04-14 09:36] to2false commented on #42
it works, thx

[2020-04-14 09:36] #42 closed

[2020-04-22 07:16] #15 closed

[2020-04-22 07:17] moonming opened #43 "the alpine image is too fat"
apisix alpine is based on https://github.com/openresty/docker-openresty/blob/master/alpine/Dockerfile.fat, which is too fat, bigger then centos iamge.
we need to make a small one.

[2020-04-28 06:22] sshniro opened #46 "Add admin API key for the docker-compose example"
Currently, the configuration does not include an Admin API key.

[2020-04-28 08:29] moonming commented on #46
yes, you are right. Welcome PR :)

[2020-05-03 07:27] #43 closed

[2020-05-11 10:06] to2false opened #50 "nginx: [emerg] invalid number of arguments in "resolver_timeout" directive in /usr/local/apisix/conf/nginx.conf:54"
### Step 1
[code]
### Step 2
[code]

the container exits, check the log and get this
[code]

[2020-05-11 10:10] to2false commented on #50
I tried to compile manually and get look like a network error😂
[code]

[2020-05-12 06:58] moonming commented on #50
@to2false do you use the old version `config.yaml` of apisix?

[2020-05-13 02:09] to2false commented on #50
@moonming no, I cloned the latest repo

[2020-05-13 10:49] wayne00 commented on #50
the same error with @to2false  , seems the config file is not correct

[2020-05-13 13:01] to2false commented on #50
I build local manually, get same error again

[2020-05-15 04:38] to2false commented on #50
I replace apisix conf with https://github.com/apache/incubator-apisix/blob/master/conf/config.yaml, it works. the conf for this repo is old

[2020-05-15 04:38] #50 closed

[2020-05-16 03:37] #46 closed

[2020-05-16 03:38] #8 closed

[2020-06-19 08:23] lingsamuel opened #59 "gcr.azk8s.cn no longer public"
Reference: https://github.com/Azure/container-service-for-azure-china/issues/58#issuecomment-630765201

[2020-06-19 08:42] gxthrj commented on #59
the image has been changed, used `gcr.io/etcd-development/etcd:v3.3.12` now
https://github.com/apache/incubator-apisix-docker/blob/f3db8c3e3f6860ef32af2d4373ab864d1b55a178/example/docker-compose.yml#L25

[2020-06-19 10:21] lingsamuel commented on #59
What's this?
https://github.com/apache/incubator-apisix-docker/blob/f3db8c3e3f6860ef32af2d4373ab864d1b55a178/example/docker-compose.yml#L23-L24

[2020-07-01 02:05] moonming opened #60 "auto build docker images for dockerhub"

[2020-07-02 01:50] spjiang opened #61 "[Request HELP] docker: 安装"
按照官方docker文档部署：
https://github.com/apache/incubator-apisix-docker
现象：
运行地址：
http://127.0.0.1:9080/apisix/dashboard
返回：
{"error_msg":"failed to match any routes"}
请问怎么排查问题？或是是什么原因导致的呢？

[2020-07-02 10:01] moonming commented on #61
it's a bug, and will fixed by https://github.com/apache/incubator-apisix/issues/1794

[2020-07-02 10:32] gxthrj opened #62 "Make the documentation more understandable"
1.Guide users correctly for different user groups；
2.Description of changes to the dashboard module；

[2020-07-21 04:17] CGerAJ opened #64 "error parsing HTTP 403 response body"
使用的中国区镜像
[code]

多个版本复现

macos 10.15.6
centos7.5

error message:
![image](https://user-images.githubusercontent.com/20548301/88011862-024fee80-cb4b-11ea-8a4e-6d6828958522.png)

[code]

无docker 日志

[2020-07-21 04:20] CGerAJ commented on #64
[code]
我想应该是资源问题导致的

[2020-07-27 09:20] gxthrj opened #67 "[doc] change `config.sh` to `gen-config-yaml.sh`"
https://github.com/apache/incubator-apisix-docker/pull/66#discussion_r459812151

[2020-07-28 04:24] #67 closed

[2020-08-07 01:28] membphis opened #69 "bug: failed to start the apisix-1.5:alpine"
run: apache/apisix:1.5-alpine
error log: nginx: [emerg] invalid number of arguments in "worker_shutdown_timeout" directive in /usr/local/apisix/conf/ nginx.conf:21

[2020-08-07 12:43] moonming commented on #69
@gxthrj please take a look.
Can we update this configuration automatically?

[2020-08-07 12:47] moonming commented on #69
@gxthrj please add test cases in CI to check if this bug exist.

[2020-08-07 14:19] gxthrj commented on #69
ok,get it

[2020-08-27 13:43] to2false commented on #69
Any fix? Had same error now.

[2020-08-31 09:57] moonming commented on #69
@gxthrj please take a look.

[2020-09-06 16:23] as882301 opened #73 "能不能来个国内镜像版的"
安装半天 既然是国产的 能不能 弄到国内仓库啊

[2020-09-06 23:54] wu-sheng commented on #73
The Apache Software Foundation doesn't alloe this. The release has to follow the policy.

[2020-09-06 23:54] #73 closed

[2020-09-07 01:17] as882301 commented on #73
谢谢  原来是这样啊。

[2020-09-09 13:50] hityc2019 opened #74 "can not access the 9080 port"
[code]
After success run the images,

[code]

[2020-09-09 14:56] membphis commented on #74
@gxthrj ping

[2020-09-17 14:35] Yiyiyimu opened #75 "fix: remove enable-v2=true in etcd config"
Since apisix would not support etcd v2 anymore

[2020-09-18 06:59] zwjzxh520 opened #76 "dashboard 首页文件404"
- apisix version: master
- apisix-dashboard version: master

通过 http://localhost:9080/apisix/dashboard 访问时，发现js和css文件404

![image](https://user-images.githubusercontent.com/2184202/93566229-49c5f000-f9bf-11ea-88a6-9a692e76510d.png)

但是发现 http://localhost:9080/apisix/dashboard/umi.0874684c.js 这样请求js是能正常返回内容的

所以要怎么才能让首页返回的文件，自动带上 apisix/dashboard 路径呢？

[2020-09-20 03:30] zsq1234 opened #77 "Illegal instruction (core dumped)"
Hi~, I have an error I don't know how to deal.

my operation:
1. docker run --rm -it apache/apisix:latest /bin/sh
2. apisix version / apisix init
then "Illegal instruction (core dumped)"

![core_dump](https://user-images.githubusercontent.com/41423998/93693611-b3b3d600-fb34-11ea-8cdb-6216932fca56.png)

[2020-09-20 14:07] zsq1234 commented on #77
I guess this problem maybe is also [openresty version use sse4.2](https://github.com/openresty/docker-openresty/issues/49) , I would be very grateful  if can also provide a [nosse42 version](https://github.com/openresty/docker-openresty/issues/103) , thanks ~

[2020-09-21 07:20] Miss-you opened #78 "bug: Version 1.5 docker startup always reports errors "nginx: [emerg] invalid number of arguments in "worker_shutdown_timeout" directive in /usr/local/apisix/conf/nginx.conf:21""
bug: Version 1.5 docker startup always reports errors "nginx: [emerg] invalid number of arguments in "worker_shutdown_timeout" directive in /usr/local/apisix/conf/nginx.conf:21"

![image](https://user-images.githubusercontent.com/3816205/93740852-e1c11500-fc1d-11ea-9f7d-619ea90d2bd1.png)

[2020-09-21 07:21] Miss-you commented on #78
I compared the `conf/config.yaml` configuration file, which is too old and missing multiple default configuration files.

We need to update the `config.yaml` file in the image with [config.yaml](https://github.com/apache/apisix/blob/v1.5/conf/config.yaml).

[2020-09-21 07:27] Miss-you commented on #78
![image](https://user-images.githubusercontent.com/3816205/93741413-f4881980-fc1e-11ea-9242-aea388b7a285.png)

[2020-09-21 07:34] EdisonLiang commented on #78
Docker image example config file not updated,  link: [https://github.com/apache/apisix-docker/blob/master/example/apisix_conf/config.yaml](https://github.com/apache/apisix-docker/blob/master/example/apisix_conf/config.yaml)

[2020-10-04 01:38] membphis commented on #77
@zsq1234 any news about this issue?

[2020-10-04 01:39] membphis commented on #78
do we have fixed this issue?

[2020-10-04 01:42] membphis opened #80 "CI: fail to fetch dashboard"
[code]

we need to change the script, fetch it from https://github.com/apache/apisix-dashboard

[2020-10-04 11:47] moonming commented on #80
We can remove dashboard until new dashboard released

[2020-10-30 04:02] hfhimage opened #82 "request help: can not find apache/apisix:2.0-alpine image in dockerhub"
### Issue description
I can't find apache/apisix:2.0-alpine image in hub.docker.com after Apisix 2.0 released. So I wonder if it's much more recommend to use centos version instead of alpine version in production environment.

### Environment

* apisix version (cmd: `apisix version`): 2.0
* OS:

[2020-10-31 01:50] moonming commented on #82
I re-run the build job in dockerhub, it works well now.
please try: docker pull apache/apisix:2.0-alpine

[2020-11-01 06:12] jclivi opened #83 "error sudo docker build -f alpine-dev/Dockerfile ."
+ luarocks install https://github.com/apache/apisix/raw/master/rockspec/apisix-master-0.rockspec '--tree=/usr/local/apisix/deps'

Error: Error fetching file: Failed downloading https://github.com/apache/apisix/raw/master/rockspec - Failed downloading https://github.com/apache/apisix/raw/master/rockspec/apisix-master-0.rockspec - /root/.cache/luarocks/https___github.com_apache_apisix_raw_master_roc

[2020-11-01 07:01] moonming commented on #83
can you download `https://github.com/apache/apisix/raw/master/rockspec/apisix-master-0.rockspec` success in your env?

[2020-11-01 07:45] jclivi commented on #83
Thank you！I try to install manually

[2020-11-01 07:45] #83 closed

[2020-11-03 03:38] zlchanger opened #84 "apisix2.0 docker外部请求 403"
我打算先把apisix升级到2.0，现在很明显docker内部已经是2.0了，但为什么内部可以访问，外面却访问不了，端口我已经映射出来了，而且config.yaml里面的allow_admin也被我直接注释掉了
![avatar](https://apollobucket.oss-cn-beijing.aliyuncs.com/error.png)

_Originally posted by @zlchanger in https://github.com/apache/apisix-dashboard/issues/663#issuecomment-720878123_

[2020-11-03 06:21] membphis commented on #84
We need to update the default `conf/config.yaml`.

[2020-11-03 13:05] idbeta opened #85 "bug: host can not request APISIX docker"
403 error occurred when the host request APISIX docker.
because no matter /example/apisix_conf/config.yaml or config.yaml which created by gen-config-yaml.sh, there is no such configuration:
[code]
relate #84

[2020-11-03 14:18] membphis commented on #85
welcome PR to fix this issue

[2020-11-05 00:37] gy09535 opened #86 "feat: build docker image with source code"
### Issue description
Sometime we should add  some special logical for ourself business, we should build docker image with source code. So maybe we should add dockerfile in source code.
### Environment

* apisix version (cmd: `apisix version`):
* OS:

[2020-11-05 03:55] gy09535 commented on #86
I add the Dockerfile in apisix  project, I think if we build it in source code ,we should add it in source code.

[2020-11-05 03:56] gy09535 commented on #86
I add the Dockerfile in apisix  project, I think if we build it in source code ,we should add it in source code.

[2020-11-17 16:55] gxthrj commented on #86
I think this feat is a better way, and we do not need to maintain multiple versions between different basic (os) images.

[2020-11-20 10:51] gxthrj commented on #86
it is related to https://github.com/apache/apisix/issues/2783

[2020-11-21 16:59] gxthrj commented on #69
I think we can close this PR now , since we use  `config-default.yaml` to solve this kind of problems.

[2020-11-21 17:05] #69 closed

[2020-11-22 04:03] gxthrj commented on #74
@hityc2019 The reason is ` allow_admin: `in `config.yaml` is Commented out.
Perhaps I should change the config.yaml as follow
[code]

[2020-11-22 04:48] moonming commented on #74
Of course not, there will be security risks.  You should find a better solution @gxthrj

[2020-11-22 04:48] moonming commented on #74
Of course not, there will be security risks.  You should find a better solution @gxthrj

[2020-11-22 04:49] gxthrj commented on #74
Ok, get it .

[2020-11-25 02:50] moonming opened #87 "update docker compose"

[2020-11-25 03:30] gxthrj commented on #87
got it

[2020-11-25 08:09] jclivi opened #88 "Error: Could not load rockspec file /tmp/luarocks_luarocks-rockspec-apisix-master-0-kbdBgI/apisix-master-0.rockspec (Error loading file: [string "/tmp/luarocks_luarocks-rockspec-apisix-master..."]:7: unexpected symbol near '<')"
OK: 326 MiB in 81 packages
+ luarocks install https://github.com/apache/apisix/blob/master/rockspec/apisix-master-0.rockspec '--tree=/usr/local/apisix/deps'

Error: Could not load rockspec file /tmp/luarocks_luarocks-rockspec-apisix-master-0-kbdBgI/apisix-master-0.rockspec (Error loading file: [string "/tmp/luarocks_luarocks-rockspec-apisix-master..."]:7: unexpected symbol near '<')
ERROR: Service

[2020-11-25 08:20] membphis commented on #88
this step is unstable in china: `luarocks install https://github.com/apache/apisix/blob/master/rockspec/apisix-master-0.rockspec`

[2020-11-25 08:35] jclivi commented on #88
OK！Thank you！

[2020-11-26 08:01] nooperpudd opened #89 "docker compose example start failed"
`sh gen-config-yaml.sh && docker-compose -p docker-apisix up -d`

ERROR: for docker-apisix_apisix_1  UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)

ERROR: for apisix  UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)
ERROR: An HTTP request took too long to complete. Retry with --verbose to obtain debug information.
If yo

[2020-11-26 08:09] moonming commented on #89
@gxthrj please take a look

[2020-11-26 10:14] gxthrj commented on #89
@nooperpudd Would you please show me `docker ps`?
I  exec  `sh gen-config-yaml.sh && docker-compose -p docker-apisix up -d` in a new centos7 just now. Get success.
![image](https://user-images.githubusercontent.com/4413028/100338139-2d73ae80-3013-11eb-9f05-26395f865fcf.png)

[2020-12-01 01:07] hyt05 opened #90 "How to connect etcd cluster with tls"
Environmental description:
    rke version: v1.2.1
    kubernetes: v1.18.3
    I use the kubernetes and etcd cluster (3 nodes) built by rke。They are ```https://10.1.7.51:2379, https://10.1.7.52:2379, https://10.1.7.53:2379```

Use: ```curl -k --cert /etc/kubernetes/ssl/kube-etcd-10-1-7-51.pem --key /etc/kubernetes/ssl/kube-etcd-10-1-7-51 -key.pem https://10.1.7.51:2379/version```
Output: ```{"etcd

[2020-12-01 01:09] hyt05 commented on #90
I used this example: https://github.com/apache/apisix-docker/tree/master/example

[2020-12-01 01:36] hyt05 commented on #90
I set etcd host as:
[code]
发生：
[code]

[2020-12-01 04:02] membphis commented on #90
Here is the latest `conf/config.yaml` file: https://github.com/apache/apisix/blob/master/conf/config.yaml

[2020-12-01 04:07] hyt05 commented on #90
@

[2020-12-01 04:09] hyt05 commented on #90
@membphis   Now this is my configuration file，
It still appears
[code]
cat apisix_conf/config.yaml
[code]

[2020-12-01 04:45] tokers commented on #90
This is a bug, we don't respect the scheme when calling `bin/apisix init_etcd`.

[2020-12-01 06:26] gxthrj commented on #90
@hyt05 I have two questions:
1.  https://github.com/apache/apisix-docker/tree/master/example use docker-compose with network as below, make sure the `etcd` address can be reached.
[code]
2. multi-etcd IPs can not be configured in a line , need to configure like this:
[code]

[2020-12-01 06:26] hyt05 commented on #90
@tokers Do you have a good solution

[2020-12-01 06:30] tokers commented on #90
Sorry, i misunderstood this issue, just ignore it.

[2020-12-01 06:42] membphis opened #92 "chore: add ASF header"
original comment:

https://github.com/apache/apisix-docker/pull/91/files/e69b0059f04bf4cb8ec76873a85a550fe0311a91..87213a8eaf49cedd44aff21241f5a66692599755#r533091870

[2020-12-01 07:11] hyt05 commented on #90
@gxthrj In fact, I didn't use docker- compose.yml Etcd in, I just use the example docker- compose.yml To start apifix, the etcd connection address used in my configuration file is the etcd cluster deployed with RKE,

Just tested and used the configuration
[code]
Still appear：
[code]

[2020-12-01 08:19] gxthrj commented on #90
The error messsage `got malformed version message: "" from etcd` means APISIX can not connect to etcd. In most cases, the network cannot be connected between APISIX and etcd.

We need to check if etcd can be reached in APISIX container.

A feasible method is to use `docker exec` to enter a container which on the same network as the APISIX container, and then `telnet 10.1.7.51 2379`.

[2020-12-01 08:32] gxthrj commented on #87
Close this issue now

[2020-12-01 08:32] #87 closed

[2020-12-01 13:24] hyt05 commented on #90
@gxthrj
I am sure that I can communicate with 10.1.7.51 2379 in the same container

This is the startup parameter of my etcd cluster. I wonder if it is related to the "--enable-v2=true" parameter.

[code]

[2020-12-01 14:34] #84 closed

[2020-12-01 14:34] #85 closed

[2020-12-02 10:34] membphis commented on #90
@hyt05 what are the apisix and etcd versions?

[2020-12-03 00:51] hyt05 commented on #90
@membphis apisix version：2.1  、{"etcdserver":"3.4.3","etcdcluster":"3.4.0"}

[2020-12-03 02:36] tokers commented on #90
The `--peer-client-cert-auth=true` is used so clients must offer their own certificates to implement the mTLS, which is not supported by APISIX.

If the mTLS is not required necessarily, try to remove it.

[2020-12-03 02:39] tokers commented on #90
The option `--client-cert-auth=true` is used in your etcd server, which forces the clients offer their own certificate to meet the mTLS, which is not supported by APISIX.

If the mLTS is not required necessarily,  just remove it.

[2020-12-03 03:48] hyt05 commented on #90
@tokers Thanks for your answer, I will try to remove this parameter

[2020-12-03 08:20] membphis commented on #90
@hyt05 https://github.com/apache/apisix/pull/2940/files here is the related PR

feel free to reopen this if you still have an issue.

[2020-12-03 08:20] #90 closed

[2020-12-03 08:55] leon1509 opened #94 "request help: Docker部署，无法访问dashboard！版本2.1"
### Issue description
 安装方法：参考https://github.com/apache/apisix-docker/blob/master/manual.md

### Environment
步骤：
配置文件使用的是：https://github.com/apache/apisix-docker/example/下面的
`
1. docker pull bitnami/etcd

2. docker pull apache/apisix

3. docker network create --driver=bridge --subnet=172.18.0.0/16 --ip-range=172.18.5.0/24 --gateway=172.18.5.254 apisix

4. docker run -it --name etcd-server -v /d/Wo

[2020-12-03 09:40] membphis commented on #94
@leon1509 if you want to use `Dashboard`, you need to use https://github.com/apache/apisix-dashboard, This is an independent project.

[2020-12-03 09:41] membphis commented on #94
you can make a try with this branch: https://github.com/apache/apisix-dashboard/tree/v2.1.1

[2020-12-03 10:16] leon1509 commented on #94
apisix-dashboard 构建失败了！
![2](https://user-images.githubusercontent.com/4725850/100996021-899a7d80-3593-11eb-9cd7-1453211d2290.png)
![3](https://user-images.githubusercontent.com/4725850/100996034-8e5f3180-3593-11eb-992d-50d7091fc7a4.png)

[2020-12-03 10:36] nic-chen commented on #94
you could try:
[code]

[2020-12-03 13:03] membphis commented on #94
https://github.com/apache/apisix-dashboard/blob/v2.1/docs/deploy-with-docker.md#build

# For users in mainland China, the `ENABLE_PROXY` parameter can be provided to speed up module downloads.
$ docker build -t apisix-dashboard:$tag . --build-arg ENABLE_PROXY=true

[2020-12-04 01:09] leon1509 commented on #94
allready ok！

[2020-12-04 01:28] #94 closed

[2020-12-04 01:32] cverdela opened #95 "request help: can I ask if you can provide docker image apisix-dashboard 2.0 in docker hub"
### Issue description
request help:  can I ask if you can provide docker image apisix-dashboard 2.0 in docker hub
i build this error when download some  components
### Environment

* apisix version (cmd: `apisix version`):2.0
* OS:docker

[2020-12-08 18:00] gxthrj opened #97 "bug: when set `apisix.ssl.enable: true`, can not start APISIX with docker 2.1-alpine"
### Issue description

### Environment

* apisix version : docker image apache/APISIX:2.1-alpine
* OS:

### Minimal test code / Steps to reproduce the issue
1. set `apisix.ssl.enable: true` in `config.yaml`
![image](https://user-images.githubusercontent.com/4413028/101522018-9965f780-39c1-11eb-8247-c6b9e7e2e736.png)
2. the docker of APISIX start failed
![image](https://user-images.githubuserconten

[2020-12-09 01:23] qwxingzhe opened #96 "Unable to start port 9443 in docker"
### Issue description
It could be config.yaml Configuration does not enable SSL, when I open the following error

`missing ssl cert for ssl`

![image](https://user-images.githubusercontent.com/7071651/101561135-b91c1080-39ff-11eb-9389-2f6d4cd20ea8.png)

My configuration is as follows
![image](https://user-images.githubusercontent.com/7071651/101561231-ebc60900-39ff-11eb-97d2-13c4f6652a74.png)

Ref

[2020-12-09 01:33] qwxingzhe commented on #96
Maybe there is a mirror problem. When I replace it with `apache/apisix:2.1-alpine`, it runs

[2020-12-09 01:34] tokers commented on #96
@qwxingzhe From the config.yaml snippet, the ssl is enabled but the cert and pkey are not provided.

[2020-12-09 01:37] qwxingzhe commented on #96
Yes, but `apache/apisix:2.0-alpine` works. Maybe it's a version problem

[2020-12-09 02:45] gxthrj commented on #97
related to #96

[2020-12-09 05:28] gxthrj commented on #97
I think it is a bug in APISIX. Reproduce in steps:
1. Use [rpm](https://github.com/apache/apisix/releases/download/2.1/apisix-2.1-0.el7.noarch.rpm).
2. set `apisix.ssl.enable: true`.
3. apisix start
[code]

[2020-12-09 05:30] gxthrj commented on #97
@membphis  @spacewander Please have a look if you have time.

[2020-12-09 11:26] membphis commented on #97
need to specify the default SSL certificate, here is the link:

https://github.com/apache/apisix/blob/master/conf/config-default.yaml#L103-L112

[2020-12-11 03:10] spacewander opened #98 "debug.yaml can't be found"
Steps to reproduce:
[code]

[2020-12-11 08:16] idbeta opened #100 "test: need to add more tests in CI"
There few test cases in the CI of `apisix-docker` project.
No matter `all-in-one` or `alpine`, I think more tests need to be added, such as using the `adminApi` to `add`, `delete`, `modify` and `query` the route, and verify the results.

[2020-12-12 08:49] juzhiyuan commented on #76
Hi, please have a try on the latest codes.

https://github.com/apache/apisix-docker/tree/master/all-in-one

[2020-12-12 08:49] #76 closed

[2020-12-12 08:49] juzhiyuan opened #101 "Dockerhub support for Dashboard"

[2020-12-12 08:50] juzhiyuan commented on #101
Hi @totemofwolf, would you please publish the image to Dockerhub for Apache APISIX Dashboard?

[2020-12-14 08:00] liyin37 opened #102 "after configoure the SSL,log error"
2020/12/14 07:41:54 [error] 50#50: *40483 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to fetch SSL certificate: not found, context: ssl_certificate_by_lua*, client: 10.112.0.116, server: 0.0.0.0:9443
2020/12/14 07:41:54 [error] 49#49: *40484 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to fetch SSL certificate: not found, context: ssl_certif

[2020-12-14 08:32] membphis commented on #102
@liyin37 please provide more information:

1. apisix version
2. how to reproduce this issue
3. your OS version

[2020-12-14 09:48] liyin37 opened #103 "after configure SSL，don't connect it"
2020/12/14 09:42:35 [error] 54#54: *960335 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to fetch SSL certificate: not found, context: ssl_certificate_by_lua*, client: 10.112.0.116, server: 0.0.0.0:9443
2020/12/14 09:42:58 [error] 54#54: *963324 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to fetch SSL certificate: not found, context: ssl_cert

[2020-12-14 09:51] membphis commented on #103
@liyin37 what are the steps to reproduce this issue?

[2020-12-14 09:52] spacewander commented on #103
Duplicate of https://github.com/apache/apisix/issues/3037

[2020-12-14 09:52] #103 closed

[2020-12-14 09:54] liyin37 commented on #103
dsfadsf

[2020-12-18 03:25] liyin37 opened #106 "9443 端口无法请求"
当前是用docker方式部署的，直接用的是官方example下的示例docker-compose.yaml

公网可以测试：
error：https://gisuni.top:9443/apisix/admin/routes?X-API-KEY=edd1c9f034335f136f87ad84b625c8f1
![image](https://user-images.githubusercontent.com/42507175/102570697-d8fbb480-4122-11eb-8968-8d850a77f242.png)

right：http://gisuni.top:9080/apisix/admin/routes?X-API-KEY=edd1c9f034335f136f87ad84b625c8f1
报错为：
2020/12/18 03:20:07 [error] 52#52:

[2020-12-18 03:31] membphis commented on #106
@liyin37 you need to set the SSL object via Admin API first:

https://github.com/apache/apisix/blob/master/doc/admin-api.md#ssl

[2020-12-18 06:37] liyin37 commented on #106
@membphis
curl http://127.0.0.1:9080/apisix/admin/ssl/1 -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
    "cert": "xxxxxxxxxxxxxx",
    "key": "xxxxxxxxxxxxxx",
    "sni": "gisuni.top"
}'

结果是：
{"action":"set","node":{"value":{"sni":"gisuni.top","update_time":1608273355,"id":"1","status":1,"create_time":1608259534,"key":"MIIEpAIBAAKCAQEAra86K70M4E4YDUzdouOE2I4mgq0Jaoeb28dbdhxGmwvO

[2020-12-18 09:41] zhangguanzhang commented on #101
+1

[2020-12-20 11:30] liyin37 commented on #106
2020/12/20 11:28:29 [error] 51#51: *428393 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to parse PEM cert: PEM_read_bio_X509_AUX() failed, context: ssl_certificate_by_lua*, client: 175.152.148.237, server: 0.0.0.0:9443
2020/12/20 11:28:50 [error] 50#50: *429894 [lua] init.lua:180: http_ssl_phase(): failed to fetch ssl config: failed to parse PEM cert: PEM_read_bio_X509_

[2020-12-20 13:59] gxthrj commented on #106
Related to #97

[2020-12-21 00:12] moonming commented on #106
@gxthrj so how to fix it？

[2020-12-21 00:13] moonming commented on #97
@gxthrj ping

[2020-12-21 01:12] spacewander commented on #97
Look like we can close it since https://github.com/apache/apisix/pull/3013 is merged.

[2020-12-21 01:27] tokers commented on #106
It seems your certificate format is invalid, so it cannot be parsed.

You may try to validate it from `openssl x509`:

[code]

[2020-12-21 01:41] liyin37 commented on #106
the certificate is the trusted file ：
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            07:2e:af:a6:a3:51:b4:ff:37:57:22:ac:5b:fc:e4:59
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: C=CN, O=TrustAsia Technologies, Inc., OU=Domain Validated SSL, CN=TrustAsia TLS RSA CA
        Validity
            Not Before: Dec 17 00:00:00 2020 GMT
            N

[2020-12-21 01:49] tokers commented on #106
![image](https://user-images.githubusercontent.com/10428333/102731036-b4494c00-4371-11eb-972c-9ef69da6473a.png)

@liyin37 Why your certificate is not leaded by "--- BEGIN CERTIFICATE---" ?

[2020-12-21 01:52] tokers commented on #106
It seems the cert is not a real certificate.

[2020-12-21 01:58] liyin37 commented on #106
but I check it in https://myssl.com/cert_decode.html ,it dont find error

[2020-12-21 02:01] gxthrj commented on #97
Yes， I will test in docker image from master / 2.1 / 2.0.

[2020-12-21 02:03] tokers commented on #106
Please see the cert in this reply, it's the real copy in APISIX.

[2020-12-21 02:14] liyin37 commented on #106
I just change the cert and key ,the new result is below:
![image](https://user-images.githubusercontent.com/42507175/102732067-a34e0a00-4374-11eb-993a-bad86c88f541.png)

buy the way,the certificate must use the trusted certs? If I use the Self signature certs ,it does't work?

[2020-12-22 08:34] gxthrj commented on #106
@liyin37 Just confirm, do `cert` and `key` use `pem-encoded`?

[2020-12-23 00:57] tokers commented on #106
I have said you should check the cert that passed to APISIX, the cert in APISIX is invalid, you may suffer some exceptions when you request to APISIX SSL admin api.

[2020-12-23 02:06] gxthrj commented on #106
@liyin37  I saw that your `cert` and `key` is RSA Encryption, the [admin api](https://github.com/apache/apisix/blob/master/doc/https.md#single-sni) for setting ssl need `Pem-Encoded`, we should covert RSA to PEM first.

[2020-12-23 09:30] kizy008 opened #107 "request help: docker hub for apisix v1.5"
### Issue description
when I first use apisix in my program, it is v1.5.
And I deploy my program by using docker.
 I fetch docker from docker hub with tag "apache/apisix:1.5-centos".
 But recently when I deploy apisix with tag "apache/apisix:1.5-centos" from docker hub, I found the version for apisix is v2.0.
Can you contact maintainer for apisix in docker hub ?
And I wander why tag is v1.5 but th

[2020-12-24 08:04] gxthrj commented on #106
@liyin37  any news ? Do you still have errors ?

[2020-12-24 08:10] liyin37 commented on #106
@gxthrj 还有一个问题 就是使用接口请求的时候 "sni": "gisuni.top" 如果是多域名如何填写？

[2020-12-24 15:01] gxthrj commented on #106
You can use `snis`.

e.g.
[code]

[2020-12-24 15:10] gxthrj commented on #106
If there are no other problems, will close this issue tomorrow.

[2020-12-25 05:54] gxthrj commented on #107
@moonming Do you have time to look at this issue, it seems something was wrong when building or pushing image.

[2020-12-25 15:04] gxthrj commented on #106
Close this issue now , feel free to reopen  if you have any doubt.

[2020-12-25 15:04] #106 closed

[2020-12-25 16:40] gxthrj commented on #97
Close this issue now , it is the same reason with #106

[2020-12-25 16:40] #97 closed

[2020-12-25 16:45] gxthrj commented on #96
It seems the `ssl_cert` and `ssl_cert_key` must be set  In APISIX 2.1 when ssl is enabled.

[2020-12-27 03:04] #96 closed

[2020-12-30 06:17] liyin37 opened #109 "request help: when config one route,but post failed"
apisix in docker :
the version is：
apisix：1.5-alpine
etcd：3.4.9
设置路由规则：
https://8.210.172.30:9443/test/1
请求报错：
2020/12/30 06:05:02 [error] 37#37: *15463 SSL_do_handshake() failed (SSL: error:1408F10B:SSL routines:ssl3_get_record:wrong version number) while SSL handshaking to upstream, client: 124.205.245.114, server: , request: "GET /test/1 HTTP/1.1", upstream: "https://103.235.46.39:80/test/1", h

[2020-12-30 06:41] liyin37 commented on #109
![image](https://user-images.githubusercontent.com/42507175/103334614-034b5b80-4aad-11eb-8e32-242d081c9232.png)
visit the url: https://8.210.172.30:9443/test/1
how to resolve this problem,please help ?

[2020-12-30 06:45] #109 closed

[2020-12-30 06:49] liyin37 opened #110 "request help: when config one route,but post failed"
apisix with in docker,use the docker-compose configure it , the version is :
apisix : 1.5-alpine
etcd: 3.4.9

#####
I  config one route with below:
https://8.210.172.30:9443/test/1
but I visit the url ,it come one error
"访问 8.210.172.30 的请求遭到拒绝您未获授权，无法查看此网页。
HTTP ERROR 403"
![image](https://user-images.githubusercontent.com/42507175/103334860-f713ce00-4aad-11eb-939b-12b146b013d4.png)
please help m

[2020-12-30 07:28] liyin37 commented on #110
debug日志：
2020/12/30 07:25:45 [warn] 37#37: *12314 [lua] init.lua:162: http_ssl_phase(): failed to fetch ssl config: failed to fetch SSL certificate: not found, context: ssl_certificate_by_lua*, client: 8.210.143.155, server: 0.0.0.0:9443
2020/12/30 07:25:45 [info] 37#37: *12310 [lua] init.lua:338: http_access_phase(): matched route: {"value":{"priority":0,"plugins":{"proxy-rewrite":{"scheme":"http

[2020-12-30 07:55] liyin37 commented on #110
@spacewander @moonming 请帮忙分析下是什么原因，谢谢

[2020-12-30 15:12] UnderTreeTech commented on #88
Meet same issue, but it does not work using your suggestion.

[2020-12-31 01:14] spacewander commented on #88
@UnderTreeTech
Try it again? I always turn on the VPN when I need to use luarocks.
You may need to capture network to see what happened.

[2020-12-31 03:33] UnderTreeTech commented on #88
I've already start global proxy, but it still comes the same issue.

[2020-12-31 03:51] spacewander commented on #88
You can make a network capture to see what happened. BTW, it would be better to submit this issue to luarocks since we don't control the `luarocks.org`. There is few things we can do in our side.

[2020-12-31 03:55] UnderTreeTech commented on #88
I don't think so, lua install execute right now. It's build error now.

[2020-12-31 03:59] spacewander commented on #88
It is apparently that luarocks is downloading something which it expects to be JSON but HTML actually. We can't solve the problem if you don't provide a network capture file.

[2020-12-31 11:07] eddycjy opened #111 "apisix-dashboard: can't load package: package .: no Go files in"
All in one error occurred when executing docker build:

[code]

[2021-01-04 12:42] agile6v commented on #111
Hi @eddycjy This is a compatibility problem caused by the changes in [apisix-dashboard](https://github.com/apache/apisix-dashboard/api) project. We will fix it ASAP.

You can also specify the `--build-arg APISIX_DASHBOARD_VERSION=v2.2` to bypass the problem.

Thanks.

[2021-01-05 02:00] xzzh999 opened #113 "Bad argument #1 to 'ipairs' (table expected, got nil)"
Hi~
Greate job!

I use the docker hub official `apisix apline-2.1` image, and when init it run error:
[code]
i use potainer to create the container, with the follow mount vol:
[code]
and both ***config-default.yaml*** and ***config.yaml*** are the same as follow:
(the etcd have been started ok, and etcd address is 172.17.0.5:2379)
[code]

need u help, thx~

[2021-01-05 03:15] xzzh999 commented on #113
this fixed by copy conf folder for the container

[2021-01-05 03:15] #113 closed

[2021-01-10 11:28] leenux opened #115 "Can network use service name instead IP?"
I found network use subnet 172.18.*.*
Can network use service name instead IP?
For example
[code]

[2021-01-11 01:11] spacewander commented on #115
CC @gxthrj

[2021-01-12 05:23] gxthrj commented on #115
Yes, we can all use serviceName instead of IP.
@leenux Do you have time to contribute this feature ?

[2021-01-12 06:28] leenux commented on #115
change https://github.com/qwxingzhe/apisix-docker-compose and it work fine

[2021-01-12 06:43] gxthrj commented on #115
@leenux  https://github.com/qwxingzhe/apisix-docker-compose/blob/main/simple/docker-compose.yml is the same as our docker-compose.yml. what is different ?

[2021-01-12 07:02] leenux commented on #115
docker-compose.yml
[code]
config.yaml
[code]
conf.yaml
[code]

[2021-01-12 07:03] leenux commented on #115
[how-to-host2bridge.zip](https://github.com/apache/apisix-docker/files/5800288/how-to-host2bridge.zip)
@gxthrj

[2021-01-12 08:55] hfhimage opened #116 "request help: Can not find apache/apisix:2.2-centos image in dockerhub after 2.2 release"
### Issue description

### Environment

[2021-01-12 09:03] #88 closed

[2021-01-12 09:07] spacewander commented on #116
We are already working on it. Please wait for a few days.

[2021-01-12 12:57] gxthrj commented on #115
Yes, I agree. we can change to the way by using service name.

Do you have time to  contribute a PR to `apache/apisix-docker`?

[2021-01-13 09:33] moonming opened #119 "hard to understand all in one dockerfile"
https://github.com/apache/apisix-docker/blob/master/all-in-one/apisix-dashboard/Dockerfile
There are many variables that are repeatedly defined, and there are no comments, which is difficult to understand

[2021-01-13 10:24] #116 closed

[2021-01-13 10:34] gxthrj commented on #119
I will do some optimization.

[2021-01-13 12:04] leenux commented on #115
@gxthrj 我不知如何PR :( 没做过 如果你有空可以看看上面的zip合并一哈

[2021-01-13 12:57] membphis commented on #115
welcome anyone to contribute PR ^_^

[2021-01-14 00:57] gxthrj commented on #115
@leenux Here are some instructions on how to create a Pull Request.
https://blog.csdn.net/vim_wj/article/details/78300239
https://github.com/gnipbao/iblog/issues/19

If you have time, welcome to have a try.

[2021-01-18 13:13] #119 closed

[2021-01-22 02:06] ClementeGao opened #122 "failed to paa rse yaml config: failed to merge, path[etcd->timeout] expect: number, but got: string"
apisix配置文件
apisix:
  node_listen: 9080              # APISIX listening port
  enable_ipv6: false

  allow_admin:                  # http://nginx.org/en/docs/http/ngx_http_access_module.html#allow
    - 0.0.0.0/0              # We need to restrict ip access rules for security. 0.0.0.0/0 is for testt
.

  admin_key:
    - name: "admin"
      key: edd1c9f034335f136f87ad84b625c8f1
      role: admin

[2021-01-22 02:20] tokers commented on #122
@ClementeGao Could you provide a minimal reproducible case?

[2021-01-22 03:08] gxthrj commented on #122
@ClementeGao If you have solved this issue, Please add some describe here, Thanks~

[2021-01-22 05:08] #122 closed

[2021-01-22 05:08] ClementeGao commented on #122
一定要检查下配置文件

[2021-01-22 08:35] gxthrj commented on #122
haha,It is a fair suggestion.

[2021-02-01 13:38] gxthrj commented on #115
If anyone is interested, welcome to provide a PR.

[2021-02-02 11:15] fukiki opened #126 "bug: ci failed"
CI is failed when merged commit 5b07a0c into `apache:master`

![image](https://user-images.githubusercontent.com/59835099/106592719-d1855300-658a-11eb-93e3-cb1eb6ff9cf2.png)

[2021-02-02 11:23] fukiki commented on #126
fixed by https://github.com/apache/apisix-docker/pull/125

[2021-02-02 12:47] tokers commented on #126
@fukiki Any remaining problems?

[2021-02-03 01:40] fukiki commented on #126
@tokers About ci, `apisix_all_in_one_ci.yaml` and `dashboard_all_in_one_ci.yaml` only execute in the push step, Is it necessary to also execute both scripts in the pull_request phase to avoid similar errors？

[2021-02-03 06:06] gxthrj opened #127 "Optimize version judgment dockerfile"
ref to #125

[2021-02-03 12:48] tokers commented on #126
I think so, could you submit a PR to optimize this? Thanks!

[2021-02-08 03:10] #126 closed

[2021-02-19 01:54] Firstsawyou opened #132 "request help：failed to build image from source"
1、clone source

[code]

2、Build Image

build alpine failed：

[code]
I don't know what caused this problem.

[2021-02-19 13:05] gxthrj commented on #132
It is strange, Please show me the Dockerfile in alpine.

[2021-02-19 13:06] gxthrj commented on #132
And show me the docker version

[2021-02-19 14:01] Firstsawyou commented on #132
docker version:

[code]

[2021-02-19 14:03] Firstsawyou commented on #132
docker version:

[code]

[2021-02-19 14:05] Firstsawyou commented on #132
The Dockerfile in alpine:

[code]

[2021-02-19 14:26] gxthrj commented on #132
Your docker is too old,  need to update your docker first.

The dockerfile allow ARG in FROM is from docker 17.05.0-ce.

[2021-02-19 17:58] Firstsawyou commented on #132
Thank you very much. After updating the docker version, the problem has been solved.

If the docker version is too old, the build will fail. I think it should be explained in the README.md file of `alpine`, what do you think?

[2021-02-20 01:38] tokers commented on #132
@Firstsawyou Good point, PR's are welcome.

[2021-02-21 14:38] #132 closed

[2021-02-23 07:21] #59 closed

[2021-02-23 10:32] Yiyiyimu opened #135 "feature request: build image with local code"
Currently we could only build docker image for certain official branches (master/2.3/..) but not local code or branch from certain developers.

Since there is a need to build docker image in PR with the newest code, to test how new changes work with docker, we need to also provide a method to build image with local code, but not using luarocks to build apisix.

[2021-02-23 10:55] tokers commented on #135
@Yiyiyimu See the alpine-dev directory, does this dockerfile meet the requirements?

[2021-02-24 02:12] Yiyiyimu commented on #135
Thanks for the suggestions! It seems alpine-dev is still used to build master image (which seems duplicate of alpine with tag master).

[2021-02-24 02:21] Yiyiyimu opened #136 "bug: tag `lastest` seems duplicate of `dev` on docker hub"
As title. Besides, `lastest` is updated 13 days ago, while `dev` yesterday.

[2021-02-24 09:12] tokers commented on #136
@Yiyiyimu `latest` actually is an alias of the latest released image, while `dev` is always the master.

[2021-02-24 09:13] tokers commented on #135
@Yiyiyimu If so, we'd better to maintain a Dockerfile for the sake of development.

[2021-02-24 09:42] Yiyiyimu commented on #136
@tokers Thanks for the explanation!

[2021-02-24 09:42] #136 closed

[2021-02-24 09:57] Yiyiyimu opened #138 "refactor: compose and actions"
After #137 got merged, to remove duplicate codes and reduce maintenance:
1. move compose yaml to one single folder, and use environmental variable to control it
2. use matrix in github actions to achieve test for different environment

Ref: https://github.com/Kong/docker-kong

[2021-02-25 10:13] #135 closed

[2021-03-01 03:48] juzhiyuan opened #144 "add docs for apisix-docker"
Hi, if we need docs for this repo? if yes, please refer to the structure of apisix-ingress-controller's doc[1].

Here[2] is one example:

![image](https://user-images.githubusercontent.com/2106987/109449694-0d291500-7a84-11eb-8e23-0dc8b08e3a8d.png)

[1] https://github.com/apache/apisix-ingress-controller/tree/master/docs
[2] http://apisix.apache.org/docs/ingress-controller/design

[2021-03-01 07:15] starsz commented on #144
IMO, yes. And we should adjust the doc directory structure.

[2021-03-01 09:34] #138 closed

[2021-03-03 02:06] Yiyiyimu commented on #75
Consider fixed

[2021-03-03 02:06] #75 closed

[2021-03-08 03:44] Yiyiyimu opened #147 "Replace `docker build` command with `make` command in README"
After we refactor CI (#140) in this repo, we could build docker image more easily with make command. But the commands in README were not updated.

Another problem is that there are too many hardcoded `VERSION` in this repo, say we don't need a default one in `alpine/Dockerfile` when we tend to set `VERSION` each time we build image. We could also fix this problem at the same time.

[2021-03-08 04:09] starsz commented on #147
Agree +1.

[2021-03-08 06:32] Yiyiyimu opened #148 "Use Github Actions to automate upload image to Dockerhub"
Currently we need maintainers to upload release images to Dockerhub manually. Following https://docs.github.com/en/actions/guides/publishing-docker-images, we could find how to use GitHub actions to do the upload step, for example, triggered by release branch.

However, due to Apache rules, there are chances that we are not allowed to use Github Actions provided by docker. So we might need to use

[2021-03-09 01:08] tokers commented on #148
That's a good idea but how to prevent our password from leaking.

[2021-03-09 02:10] Yiyiyimu commented on #148
As you could see in https://docs.github.com/en/actions/guides/publishing-docker-images#publishing-images-to-docker-hub, we could store the secrets in secret part in the repo, so we could use it as the environment variable in Actions.

[2021-03-09 08:49] starsz opened #149 "[DISCUSS]Link access log and error log to stdout and stderr"
As @pahud suggested, we can link the access log and error log to stdout and stderr.

Like this:

[code]

Then we can get the log more conveniently.

@gxthrj @tokers @spacewander What's your opinion?

[2021-03-09 08:51] tokers commented on #149
Somebody already suggested it but I cannot find the issue.

[2021-03-10 03:04] pahud commented on #149
Nginx official dockerfile

 https://github.com/nginxinc/docker-nginx/blob/fa2213a76da35137a5aee565cef5095a209aeb3d/mainline/debian/Dockerfile#L100-L102

 OpenResty official dockerfile
 https://github.com/openresty/docker-openresty/blob/b464e27f22c7fad271c5822bd0812742223c9653/alpine/Dockerfile#L151-L152

[2021-03-10 03:06] pahud commented on #149
I am working on this issue https://github.com/pahud/cdk-apisix/issues/67 and will need the upstream apisix docker container output its log to stdout and stderr just like Nginx and OpenResty.

[2021-03-10 03:48] starsz commented on #149
@membphis What's your opinion?

[2021-03-11 01:30] tokers commented on #149
Cool, good to know that.

[2021-03-11 08:46] starsz commented on #149
ping @gxthrj @membphis. I think it's time to make a decision.
I will vote for the add `ln` to dockerfile.

[2021-03-11 08:47] tokers commented on #149
Agree to do that.

[2021-03-11 10:45] gxthrj commented on #149
Agree +1

[2021-03-12 01:47] membphis commented on #149
sorry for my late reply.

I was hesitant before, but after looking at other projects such as Nginx, I think this method is good.

https://github.com/nginxinc/docker-nginx/blob/master/stable/alpine/Dockerfile#L110-L111

agree +1

let us do it.

[2021-03-12 05:00] starsz commented on #149
Good. @pahud Can you create a PR for it? Thank you very much.

[2021-03-15 14:03] pahud commented on #149
PR created https://github.com/apache/apisix-docker/pull/151

[2021-04-01 01:14] spacewander commented on #149
Solved.

[2021-04-01 01:14] #149 closed

[2021-04-19 03:07] #147 closed

[2021-04-28 09:19] izayoi-akira commented on #42
How to configure this

[2021-04-29 03:58] izayoi-akira opened #167 "How to migrate data？"
Some data on the local machine (/etcd_data dir)
Now I want to migrate the data to the test machine,I tried including directly copying /etcd_data directory, copying /member/snap/db file, Snapshot save and Snapshot restore, but none of them work

[2021-04-29 06:32] to2false commented on #42
@izayoi-akira https://github.com/apache/apisix-docker/issues/42#issuecomment-613324796 the above reply explains the steps

[2021-04-29 08:31] tokers commented on #167
@izayoi-akira please add some details about your snapshot operations. Indeed this is a right way

[2021-04-29 14:56] imjoey commented on #167
@tokers how about we introduce the `Terraform` which is for declarative configurations management. Thus we can export all the existing resources into several `.tf` files that represent the declarative resources. Also, we can import it via uploading files onto Dashboard or just run `terraform apply`. This will give us full-fledged functionality for user data import/export.

Looking forward to your

[2021-04-30 01:25] tokers commented on #167
Frankly, I'm not sure, as Terraform just likes a tool used on Cloud. Is it also can be used in bare-metal or containers deployed on-premise?

[2021-04-30 03:18] imjoey commented on #167
@tokers
yep, the most commonly used scenarios of Terraform are for cloud provisioning. While as a matter of fact, Terraform is a great tool that can handle all the cases as long as Declarative Configuration is needed. For example, we can also find the Github/Gitlab providers for the repository/branch/privilege/user management here [[1]].

With regards to APISIX, a minimum feasible Terraform `.tf`

[2021-04-30 03:50] izayoi-akira commented on #167
local server etcd_conf:
[code]
which be configured by  /example/docker-compose.yml
then I run :
`docker exec -it docker-apisix_etcd_1 /bin/bash`
`etcdctl --endpoints localhost:2379 snapshot save /etcd_data/snapshot.db`
it works and I download the snapshot.db file from Host Machine.

later I use etcdctl snapshot restore like this:
`etcdctl snapshot restore snapshot.db --data-dir=/etcd_data`
it erro

[2021-04-30 03:52] izayoi-akira commented on #167
local server etcd_conf:
[code]
which be configured by  /example/docker-compose.yml
then I run :
`docker exec -it docker-apisix_etcd_1 /bin/bash`
`etcdctl --endpoints localhost:2379 snapshot save /etcd_data/snapshot.db`
it works and I download the snapshot.db file from Host Machine.

later I use etcdctl snapshot restore like this:
`etcdctl snapshot restore snapshot.db --data-dir=/etcd_data`
it erro

[2021-04-30 09:00] tokers commented on #167
Sounds cool, would you like to send a proposal to the mailing list, and let's talk with more and more friends in community.

[2021-05-06 04:12] imjoey commented on #167
@tokers Really sorry for my late reply. I will send the proposal to mailing list for further disuccsions. Thanks for the guidance.

[2021-05-06 16:29] Yiyiyimu opened #170 "request help: image 2.2-alpine got falsely overwriten to `release/2.5`"
Hi all

Thanks you for the quick response.  I just want to point out that I'm not using APISIX 2.5.  I'm using the docker image for APISIX /apache/apisix:2.2-alpine with the apache/apisix-dashboard:2.3 dashboard.

One thing that I've noticed is that the apache/apisix:2.2-alpine has been updated 10 days ago, so my question is has this image perhaps been erroneous updated ?

I've tracked down the in

[2021-05-06 16:29] Yiyiyimu commented on #170
Checked and indeed it contains code from apisix release/2.5

[2021-05-07 01:39] tokers commented on #170
Not sure about the real situation, Do you know this? @gxthrj

[2021-05-07 03:31] younglifestyle opened #171 "docker compoest start image, but etcd start failed"
Error is this :
![image](https://user-images.githubusercontent.com/19261307/117393586-08bb2580-af27-11eb-8229-3873252dfaca.png)

[2021-05-07 09:17] Yiyiyimu commented on #171
Hi @younglifestyle could you please share your OS and docker version? This might be a good [reference](https://blog.csdn.net/grace_yi/article/details/80069990).

[2021-05-08 03:06] younglifestyle commented on #171
win10 20H2，WSL2
Docker version 19.03.6, build 369ce74a3c

[2021-05-09 19:44] Yiyiyimu commented on #171
Same version but could not reproduce the error. Have you tried to start etcd alone and see if there's still this error? Or do you have another etcd container running?

[2021-05-10 05:47] anyeshe commented on #171
我也遇到了同样的问题，请问解决了吗？

[2021-05-10 05:57] Yiyiyimu commented on #171
Have you tried the methods provided above?

[2021-05-10 06:06] anyeshe commented on #171
[root@localhost example]# docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
[root@localhost example]# setenforce 0
setenforce: SELinux is disabled
[root@localhost example]# docker-compose -f docker-compose-etcd.yml up
Creating example_etcd_1 ... done
Attaching to example_etcd_1
etcd_1  | etcd 06:05:09.97
etcd_

[2021-05-10 06:18] Yiyiyimu commented on #171
have you tried to build with non-root user

[2021-05-10 06:22] anyeshe commented on #171
尝试过，也是同样的错误，我刚才尝试使用composer file文件中etcd的镜像仓库里的配置文件就没有问题，如下：
[code]

我仿照着改成了下面的样子
[code]

完后一切就正常了，我觉得应该是下面两项配置有点问题
[code]
导致权限出错

[2021-05-10 06:26] Yiyiyimu commented on #171
@younglifestyle could the method provide by @anyeshe fix your problem

[2021-05-10 06:27] Yiyiyimu commented on #171
Hi @gxthrj could you have a look at this problem

[2021-05-10 11:11] tokers commented on #171
@anyeshe As you use the bind mount, which inherits the permission on host machine, you should check the permission and the owner of the `./etcd_data` directory.

[2021-05-10 11:23] younglifestyle commented on #171
I modified etcd_data permission to 777,  it's running.

[2021-05-11 02:15] tokers commented on #171
@younglifestyle `777` is so permissive and It's fine in a development environment, while when you deploy components in the production environment, make sure don't assign such permission to avoid security problems.

Now considering it was solved.

[2021-05-11 02:15] #171 closed

[2021-05-12 02:30] Yiyiyimu commented on #170
ping @gxthrj

[2021-05-13 15:33] gxthrj commented on #170
I also don’t know what happened.
From the perspective of time, it should be when APISIX 2.5 was released. 2.2-alpine was also updated.
We must be careful when uploading images

I will re-build 2.2-alpine from APISIX tag 2.2.

[2021-05-18 10:20] Aju100 commented on #3
Hey, @moonming I think this is inactive for a long time. Can I work on this issue?

[2021-05-18 20:08] Yiyiyimu commented on #3
Hi @aju We've already got Github Actions to do most of the jobs. Maybe you could work on building images for ARM64 since that's the unique part of Travis CI and I think we need it

[2021-05-19 01:49] Aju100 commented on #3
HI @Yiyiyimu,

Before going to solve this issue, may I know should I go with Travis CI to build an image for ARM64 or with Github Actions. I am confused about your tasks.

Thanks

[2021-05-19 14:42] Simolx opened #173 "docker compose example start failed"
The `etcd`, `apisix` and  `apisix-dashboard` modules always restarts when I run command as `QuickStart via docker-compose` in `README.md`
[code]
then I get the result:
[code]

I check the `etcd` log, and get the info:
[code]

[2021-05-19 17:20] Yiyiyimu commented on #3
Hi @Aju100 Github Actions only support x86 system so Travis CI is the only choice for us I think

[2021-05-20 02:24] Yiyiyimu commented on #170
It got fixed right @gxthrj? I think it could be closed

[2021-05-20 02:30] #170 closed

[2021-05-26 03:20] Yiyiyimu opened #177 "dashboard image on docker hub have wrong tag"
`latest` should be the latest release version, and `dev` should be the master branch, while it seems currently the tags got switched. @gxthrj

![image](https://user-images.githubusercontent.com/34589752/119597724-9912ba80-bdaf-11eb-93e5-ba8b5727e0cb.png)

[2021-05-26 09:45] gxthrj commented on #177
Let me HAL.

[2021-05-26 10:02] gxthrj commented on #177
There are some error in build rules, I have fixed.

![image](https://user-images.githubusercontent.com/4413028/119641772-94e8aa80-be4c-11eb-8e77-a9661267b03e.png)

[2021-05-26 10:09] gxthrj commented on #177
Make `dev` tag auto-build. But `latest` will push by CI.

[2021-05-26 10:09] #177 closed

[2021-05-26 16:51] Yiyiyimu commented on #177
@gxthrj maybe we need to rebuild `latest` tag to `2.6`

[2021-05-27 12:51] gxthrj commented on #177
latest have be re-pushed with 2.6.

[2021-06-02 17:56] #173 closed

[2021-06-07 03:02] iamayushdas opened #182 "Add: pull request template and issue template"
There should be pull request template and issue template,
need some suggestions
thankyou

[2021-06-08 01:09] #182 closed

[2021-06-13 18:31] forgaoqiang opened #184 "The container of apisix-dashboard will never start success when use BRIDGE mode"
Run apisix-dashboard with -p 9000:9000 will never start because the default config let
dashboard try to connect Ectd from 127.0.0.1 ....

[2021-06-14 07:45] tokers commented on #184
@forgaoqiang You should configure the correct ETCD address for apisix-dashboard or it indeed cannot work.

[2021-06-16 02:35] chenxijie198581 opened #185 "modify nginx.conf not restart apisix"
modify nginx.conf not restart apisix

[2021-06-16 02:36] chenxijie198581 commented on #185
how to do it?

[2021-06-16 09:28] tokers commented on #185
@chenxijie198581 Currently it's not feasible.

[2021-06-25 06:12] adugeek opened #189 "please release apisix:2.7 . tks"
As Title, TKS .

[2021-06-25 09:52] Yiyiyimu commented on #189
2.7 released. Welcome give it a try~

[2021-06-25 09:56] Yiyiyimu commented on #189
Sorry I made a mistake. Still need some time to upload it to docker hub

[2021-06-30 22:40] Yiyiyimu commented on #189
Released

[2021-06-30 22:40] #189 closed

[2021-07-01 12:05] duandao1950 opened #192 "etcdmain: cannot access data directory: mkdir /bitnami/etcd/data: permission denied"
[root@localhost example]# docker version
Client: Docker Engine - Community
Version: 20.10.7
API version: 1.41
Go version: go1.13.15
Git commit: f0df350
Built: Wed Jun 2 11:58:10 2021
OS/Arch: linux/amd64
Context: default
Experimental: true

Server: Docker Engine - Community
Engine:
Version: 20.10.7
API version: 1.41 (minimum version 1.12)
Go version: go1.13.15
Git commit: b0f5bc3
Built: Wed Jun 2

[2021-07-01 19:56] Yiyiyimu commented on #192
Change the permission of `/etcd_data` to 777 could fix the problem on my side. You could give it a try.

Since the original permission is already 775, do you have some other suggestions on the permission issue @tokers

[2021-07-02 01:56] duandao1950 commented on #192
fixed! thx.

step:
cd  apisix-docker/example/
this directory: chmod 777 etcd_data

[2021-07-02 03:03] tokers commented on #192
@duandao1950 What is the owner and group and the permission for `./etcd_data`.

[2021-07-02 03:12] lingsamuel commented on #192
Data directory should be owned by user `etcd` by default because the `bitnami/etcd` runs etcd as `ETCD_DAEMON_USER` which default value is `etcd`.

[2021-07-02 09:59] fastopencn opened #193 "| nginx: [warn] could not build optimal variables_hash"
➜  workspace git clone https://github.com/apache/apisix-docker.git
Cloning into 'apisix-docker'...
remote: Enumerating objects: 739, done.
remote: Counting objects: 100% (273/273), done.
remote: Compressing objects: 100% (137/137), done.
remote: Total 739 (delta 127), reused 230 (delta 99), pack-reused 466
Receiving objects: 100% (739/739), 152.00 KiB | 251.00 KiB/s, done.
Resolving deltas: 100% (

[2021-07-02 19:24] Yiyiyimu commented on #193
Hi @fastopencn it got fixed in https://github.com/apache/apisix/pull/4344
Welcome using the latest docker image (2.7) which includes this patch

[2021-07-04 15:13] #184 closed

[2021-07-05 02:28] fastopencn commented on #193
![image](https://user-images.githubusercontent.com/68014289/124409807-a68e6d80-dd7b-11eb-96d5-521bd7aabe17.png)
1、apache/apisix-dashboard:2.7
2、apache/apisix:2.7-alpine
3、bitnami/etcd:3.4.15
4、nginx:1.19.0-alpine

[2021-07-05 02:31] fastopencn commented on #193
1、apache/apisix-dashboard:2.7
2、apache/apisix:2.7-alpine
3、bitnami/etcd:3.5.0
4、nginx:nginx:1.19.0-alpine

It's stuck here....

➜  example git:(master) ✗ docker compose up
[+] Running 9/9
 ⠿ etcd Pulled                                                                                                                                         7.8s
   ⠿ fd7a9faefc3c Pull complete

[2021-07-05 07:27] tokers commented on #193
This is not a fatal error but if you really concern about it, just configuring it by yourself. The above link sent by @Yiyiyimu just tell you we add some capabilities to let APISIX customize this setting, not saying upgrading the image version can solve this problem.

[2021-07-07 09:34] LLLLimbo opened #204 "Unable to access Prometheus mertics endpoint"
My ```Docker-Compose``` file:

```apisix-dashboard```
[code]
```Apisix` Configuration file``
[code]

```Apisix Dashboard Configuration file```
[code]

Run command
[code]

And then enable prometheus plugin in dashboard.
![image](https://user-images.githubusercontent.com/31607003/124736533-ae9c0800-df49-11eb-9e7e-2f3bc8b2d1c4.png)

[code]

In prometheus
![image](https://user-images.githubusercontent

[2021-07-08 00:55] frui85 opened #195 "Request Error Code: 2000001 The manager-api and apache apisix are mismatched."
![image](https://user-images.githubusercontent.com/10277372/124845897-45100e00-dfca-11eb-9b89-05ee992ce636.png)

[2021-07-08 00:56] luckydog85 commented on #195
自带同版本怎么不匹配

[2021-07-08 01:34] tao12345666333 commented on #195
There is a version difference between apisix-dashboard and apisix now.
For example, apisix v2.7 and apisix-dashboard v2.7 can work together.

[2021-07-12 18:34] Yiyiyimu opened #196 "feature request: support docker image in arm64"
We could reuse Travis CI to integrate arm64 environment to CI

Three steps to support:
- [x] APISIX image in alpine (#197)
- [ ] APISIX image in centos (#201)
- [ ] APISIX dashboard image (need travis CI, #200)

[2021-07-27 22:59] Yiyiyimu opened #200 "feat request: build dashboard docker image on travis ci ARM machine"
We tried to build dashboard docker image for ARM in #197 but failed. Since I could build dashboard docker image on m1 so there's nothing to do with the building process itself.

And since it stuck at `yarn build`, a large chance is free Github Actions machine is lack of memory since we also deploy `QEMU` to simulate arm environment, as [ref](https://stackoverflow.com/questions/59868448/rpc-error-c

[2021-07-27 23:39] Yiyiyimu opened #201 "feat request: support apisix docker image on centos for arm"
Currently we can not build centos arm image since it rely on x86 rpm.
Ref: https://github.com/Yiyiyimu/apisix-docker/runs/3053744032?check_suite_focus=true

We need to wait https://github.com/apache/apisix/pull/4233 get merged, so we'll get arm rpm packages.

[2021-07-28 11:30] sofire commented on #192
cd apisix-docker/example/
chown -R 1000:1000 etcd_data/

[2021-08-03 03:25] wjmmjr opened #203 "k8s 环境apisix集成prometheus，apisix和prometheus的配置如何设置？"
按照虚拟机的配置方式，apisix和prometheus集成失败

[2021-08-03 17:55] Yiyiyimu commented on #203
Hi @wjmmjr could you provide some detail steps about how you deploy apisix and prometheus

[2021-08-04 00:52] spacewander commented on #203
Duplicate of https://github.com/apache/apisix/issues/4744?

[2021-08-06 04:01] spacewander commented on #204
@Yiyiyimu
Would you update the example docker files when you have free time? Many thanks!

[2021-08-06 04:13] #203 closed

[2021-08-09 09:06] #204 closed

[2021-08-20 03:22] jagerzhang opened #208 "request help: can the official docker image be built with the dependencies required by buildin plugins"
### Issue description

When I enable the client-control plugin, I encounter an error: "need to build APIs IX openrest to support client restriction"

Therefore, can the official docker image be built with the dependencies required by the plug-in?

### Environment

- apisix version (cmd: `apisix version`): 2.8-docker

[2021-08-20 03:26] nic-chen commented on #208
@gxthrj  please have a look.

[2021-09-01 05:47] feipengheart opened #211 "没有办法在dashboard设置batch-requests"
![image](https://user-images.githubusercontent.com/66514726/131618563-29f72981-0028-4a01-a236-7add7c46d560.png)
没有办法对单一的路由设置batch-requests，

curl http://127.0.0.1:9080/apisix/admin/plugin_metadata/batch-requests -H 'X-API-KEY: edd1c9f034335f136f87ad84b625c8f1' -X PUT -d '
{
"max_body_size": 4194304
}'

这个api设置只会对/apisix/admin/plugin_metadata/batch-requests路径剩下，我自己设置的路由并有效果

[2021-09-01 10:49] tokers commented on #211
Yep, the configuration about `max_body_size` is inside the plugin metadata. So you don't have to configure this plugin in any routes.

[2021-09-02 09:05] imjoey opened #212 "feat: Support deploy apisix stack on multiple hosts"
Currently, users can use docker-compose to deploy the apisix stack in a single host. While actually, the apisix stack comprises several services/components, so it's not easy to deploy it on a cluster environment with multiple hosts. So how about adding docker-swarm support for this feature? If the answer is yes, I can tackle this.

Ping @gxthrj @starsz @Yiyiyimu @nic-chen, and looking forward to y

[2021-09-02 10:54] tokers commented on #212
Not sure whether it's necessary, we don't receive feedback from users who wants to deploy APISIX on docker-swarm.

[2021-09-09 07:04] 18300618319 opened #217 "docker制作镜像文件问题standard_init_linux.go:208: exec user process caused "no such file or direct"
docker-daashboard制作镜像后启动容器就报错

报错：standard_init_linux.go:208: exec user process caused "no such file or direct

网上都说：文件格式问题，但是咱没有这个问题是unix格式。

经过排查问题是基础镜像的问题，dockerfile里的from alpine:latest，alpine:latest就有这个问题，改成centos后就没问题了

[2021-09-09 08:24] hcolde opened #218 "make build-on-alpine-local failed"
[code]

[2021-09-09 12:55] tokers commented on #218
@hcolde Make sure the APISIX PATH is correct, i.e. the `/apisix` is indeed the APISIX home path.

[2021-09-10 01:22] hcolde commented on #218
[code]

I modify the /apisix-docker/alpine-local/Dockerfile like this:
[code]

[code]

[2021-09-10 01:55] 18300618319 commented on #217
这是基础镜像的问题有人能解决吗

[2021-09-10 02:02] 18300618319 opened #220 "apisix构建镜像，在镜像内编译时老是失败"
#11 68.07 Turn off this advice by setting config variable advice.detachedHead to false
#11 68.07
#11 68.10 Missing dependencies for lua-resty-healthcheck-api7 2.2.0-0:
#11 68.10    lua-resty-worker-events 1.0.0 (not installed)
#11 68.10
#11 68.10 lua-resty-healthcheck-api7 2.2.0-0 depends on lua-resty-worker-events 1.0.0 (not installed)
#11 68.10 Installing https://luarocks.cn/lua-resty-worker-eve

[2021-09-10 02:13] 18300618319 commented on #220
FROM openresty/openresty:1.19.3.1-alpine-fat AS production-stage

COPY ./ ./apisix
RUN set -x \
    && (/bin/sed -i 's,http://dl-cdn.alpinelinux.org,https://mirrors.aliyun.com,g' /etc/apk/repositories) \
    && apk add --no-cache --virtual .builddeps \
    automake \
    autoconf \
    libtool \
    pkgconfig \
    cmake \
    git \
    pcre \
    pcre-dev \
    && cd apisix \
    && make deps \

[2021-09-10 02:34] tokers commented on #220
Maybe it's due to the network problem, have you tried to build it in other machines which network is more stable.

[2021-09-10 02:36] tokers commented on #217
@18300618319 How did you run the container?

[2021-09-10 02:59] tokers commented on #218
Strange, have you ever tried to print the Makefile?

[2021-09-12 01:29] 18300618319 opened #221 "@18300618319 How did you run the container?"
@18300618319 How did you run the container?

docker运行的容器

[2021-09-12 01:29] 18300618319 commented on #217
有人知道这是什么问题吗

[2021-09-12 05:39] starsz commented on #221
Hello, can you add more details about the issue?

[2021-09-12 05:41] starsz commented on #217
Do you mean to change the dockerfile ?

[2021-09-17 02:47] feixiangcode opened #223 "umi.426feac3.js (failed)net::ERR_CONTENT_LENGTH_MISMATCH"
js 经常加载失败，偶尔能成功。直接访问JS是没问题的。

[2021-09-17 09:07] tokers commented on #223
@feixiangcode Could you provide more details? I didn't capture the meaning from the title and description.

[2021-09-24 08:51] yicongsong commented on #171
我也报错了,请问怎么解决的

[2021-09-26 04:36] vcqr opened #227 "2379: bind: address already in use"
执行：docker-compose -p docker-apisix up -d
[+] Running 3/4
 ⠿ Container docker-apisix_web2_1              Running                                                                                                                                                                                   0.0s
 ⠿ Container docker-apisix_web1_1              Running

[2021-09-26 05:49] vcqr commented on #227
没有人帮忙看看吗？

[2021-09-26 06:22] cyberdak opened #228 "docker-compose run error ."
ERROR: could not find plugin bridge in v1 plugin registry: plugin not found

i create network use "ERROR: could not find plugin bridge in v1 plugin registry: plugin not found"

then it tips : "ERROR: Network "docker-apisix_apisix" needs to be recreated - driver has changed"

os : win10
docker engine :  wsl 2

[2021-09-26 07:04] cyberdak commented on #228
resolve by switch docker from windows container to linux

[2021-09-26 07:05] #228 closed

[2021-09-26 11:21] tokers commented on #227
Make sure the docker network `apisix` is removed before you run this, since legacy ETCD might still there so when you launch another ETCD, it will complain about the address is already in use.

[2021-09-27 03:07] Amber1990Zhang opened #229 "can't submit changes"
![image](https://user-images.githubusercontent.com/42762957/134839699-54e87587-3a7b-442c-b3a7-c807cfc8e2aa.png)
as title. There are some typos in this doc.
![image](https://user-images.githubusercontent.com/42762957/134839824-16ba81f1-19c4-4afb-be2f-49ef12d2b4bd.png)

[2021-09-27 13:47] tao12345666333 commented on #229
you need fork the repo and submit Pull Request.

[2021-09-28 07:14] vcqr commented on #227
我把自己安装的etcd都已停掉了， lsof查看都是没有相应的进程

[2021-09-28 11:36] tokers commented on #227
Not only programs in your hosts, but also others in containers.

[2021-10-14 08:26] Xunzhuo opened #234 "chore: update image version in example/docker-compose.yml"
+ update apisix image from 2.6-alpine to 2.10.0-alpine
+ update apisix-dashboard from 2.7 to 2.9.0

[2021-10-14 08:44] Xunzhuo opened #236 "chore: expose control api port in docker-compose"
If we want to test control api in docker conveniently, we should expose its port.
If this is OK to be merged, it should be merged after updating images` version

[2021-10-15 01:27] #234 closed

[2021-10-15 01:28] #236 closed, assigned to nobody

[2021-10-15 02:00] Yiyiyimu commented on #148
@ace03uec Thanks for the remind!

[2021-10-15 02:00] #148 closed

[2021-10-16 17:30] zaunist opened #238 "feat: add issue stale processor"
Add the automatic cleaning function of obsolete issue for the current repo. For example:[Apache APISIX](https://github.com/apache/apisix/blob/master/.github/workflows/stale.yml)

[2021-10-22 01:47] tokers commented on #98
Does this still exist?

[2021-10-22 03:09] spacewander commented on #98
@Xunzhuo
Could you help us to confirm it?

[2021-10-22 10:58] Xunzhuo opened #240 "chore: change rpm package link from github release download to rpm repo"
After building our own rpm repo, should we change the rpm package link to rpm repo link?

[2021-11-01 10:08] #3 closed

[2021-11-01 10:08] #34 closed

[2021-11-01 10:08] #40 closed

[2021-11-01 10:08] #60 closed

[2021-11-01 10:08] #61 closed

[2021-11-01 10:08] #64 closed

[2021-11-01 10:08] #74 closed

[2021-11-02 06:50] liujunzheng opened #243 "启动报错"
1，
[code]

2,
[code]

3, Error
[code]

以上根据文档操作。

请问还需要别的修改吗？

[2021-11-02 07:04] gxthrj commented on #243
`docker.errors.DockerException: Error while fetching server API version: ('Connection aborted.', FileNotFoundError(2, 'No such file or directory'))`

This error has nothing to do with the `apisix-docker`, it is because the docker server is not started on your machine.

[2021-11-02 07:51] liujunzheng commented on #243
sorry , thank !!!

[2021-11-02 07:51] #243 closed

[2021-11-02 10:08] #77 closed

[2021-11-02 10:08] #82 closed

[2021-11-03 11:27] #240 closed

[2021-11-04 10:08] #89 closed

[2021-11-04 10:08] #95 closed

[2021-11-06 10:05] #100 closed

[2021-11-12 10:07] #107 closed

[2021-11-15 08:03] biubiue commented on #227
same +1

[2021-11-17 10:08] #111 closed

[2021-11-17 10:08] #144 closed

[2021-11-17 10:08] #167 closed

[2021-11-17 10:08] #185 closed

[2021-11-17 10:08] #192 closed

[2021-11-17 10:08] #193 closed

[2021-11-17 10:08] #195 closed

[2021-11-18 10:08] #196 closed

[2021-11-19 10:08] #201 closed

[2021-11-19 10:08] #211 closed

[2021-11-19 10:08] #217 closed

[2021-11-21 10:05] #218 closed

[2021-11-22 10:08] #221 closed

[2021-11-24 06:40] farsking opened #248 "occur docker build error via apisix-docker/all-in-one/apisix"
(38/40) Installing libldapcpp (2.4.50-r2)
(39/40) Installing openldap-dev (2.4.50-r2)
(40/40) Installing .builddeps (20211124.062630)
Executing busybox-1.31.1-r20.trigger
OK: 366 MiB in 127 packages
+ luarocks install https://github.com/apache/apisix/blob/master/rockspec/apisix-master-0.rockspec '--tree=/usr/local/apisix/deps'

Error: Could not load rockspec file /tmp/luarocks_luarocks-rockspec-ap

[2021-11-24 07:49] spacewander commented on #248
We need to change https://github.com/apache/apisix-docker/blob/829d45559c303bea7edde5bebe9fcf4938071601/all-in-one/apisix/Dockerfile#L27 to https://github.com/apache/apisix-docker/blob/829d45559c303bea7edde5bebe9fcf4938071601/alpine/Dockerfile#L24

PR is welcome!

[2021-11-26 17:25] mohitsaxenaknoldus commented on #248
@spacewander PR: https://github.com/apache/apisix-docker/pull/249

[2021-11-29 01:52] #248 closed

[2021-12-02 10:08] #223 closed

[2021-12-07 06:39] zero-create opened #251 "apisix长时间运行，etcd CPU占用升高"
apisix版本 2.10.1，etcd 版本3.4.15，docker部署，长时间运行，etcd  CPU逐渐升高，最高时CPU到80%，关闭apisix，etcd CPU就下降，

etcd日志偶尔有以下打印：
2021-12-07 06:23:26.982193 W | etcdserver: request "header:<ID:14388294143980129386 > lease_grant:<ttl:3600-second id:47ad7d4a9fc4cc69>" with result "size:44" took too long (136.668999ms) to execute
2021-12-07 06:44:00.043365 W | etcdserver: request "header:<ID:14388294143980129756 > lease_r

[2021-12-15 07:45] ccwall3 opened #252 "nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'"
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin
nc: bad address 'apisix-admin.ingress-apisix.svc.cluster.local'
waiting for apisix-admin

rancher deploy  ap

[2021-12-15 09:48] zzyork opened #253 "real-ip plugin can not work"
I deployed an apisix with docker-compose, but when using the real-ip plugin, I found that the plug-in always failed to take effect.!

This is real-ip plugin's json config:
[code]
But when I visit, access.log still records the address of 10.10.xxx.xxx. This IP address is the IP of my upper layer nginx.
![image](https://user-images.githubusercontent.com/45233837/146162913-2815d1b8-ef08-4231-8a16-7ec

[2021-12-15 09:50] zzyork commented on #253
Did I configure it wrong?

[2021-12-15 12:01] tokers commented on #253
What's the tag of￼ your apisix docker?

[2021-12-16 02:05] zzyork commented on #253
it's 2.11.0-alpine
![image](https://user-images.githubusercontent.com/45233837/146294584-535bb876-34d9-4b85-8e6a-55c83a6e60fd.png)

[2021-12-16 02:10] zzyork commented on #253
it's `2.11.0-alpine`
![image](https://user-images.githubusercontent.com/45233837/146295087-1abe03ae-708a-475f-a9b4-9007280b4bbd.png)

[2021-12-16 02:11] zzyork commented on #253
it's `2.11.0-alpine`
https://github.com/apache/apisix-docker/issues/253#issuecomment-994724016

[2021-12-16 03:42] membphis commented on #227
@biubiue do you still have this issue?

[2021-12-16 03:45] membphis commented on #253
Can you provide a full test case? We need to confirm whether it is a bug.

[2021-12-16 05:58] biubiue commented on #227
I has resolved this problem , by stop my local k8s

[2021-12-16 06:22] membphis commented on #227
I think we can close this issue. @vcqr if you still have question, pls feel free to reopen this issue ^_^

[2021-12-16 06:22] #227 closed

[2021-12-16 08:00] vcqr commented on #227
这样是正解

[2021-12-18 05:26] zzyork commented on #253
Thank you for your help, I found the reason, because I configured a wrong plug-in in config.yaml, which caused all the plug-ins to not work. Currently real-ip has been working normally.

[2021-12-19 01:54] #253 closed

[2021-12-19 06:40] bzp2010 opened #255 "bug: wrong APISIX ARM64 image"
Previously, we used `openresty/openresty` as the base image, which can support ARM64 architecture. And now we switch to `api7/apisix-base` as the base image, which does not support ARM64, and based on the original CI build infrastructure, we are still releasing ARM64-based APISIX images, so currently there is an ARM64 APISIX image using x86_64 `apisix-base` as the base, which does not work properl

[2021-12-19 12:05] spacewander commented on #255
Good catch! Is it urgent to fix?

[2021-12-23 07:34] ChinaSilence commented on #101
+1

[2021-12-23 07:41] AnoyiX opened #258 "Push apache/apisix-dashboard:2.10.0 to Dockerhub"

[2021-12-23 09:42] juzhiyuan commented on #101
Hi @ChinaSilence, we just released 2.10.1, and the Docker image will be published this week.

[2021-12-23 09:42] #101 closed

[2021-12-27 08:56] haoren22 opened #262 "Apache APISIX Container gets restarting when using Docker Compose"
基于docker compose 安装apisix 存在镜像重启问题
[root@localhost /]# mkdir apisix
[root@localhost /]# cd apisix/
[root@localhost apisix]# git clone https://github.com/apache/apisix-docker.git
[root@localhost apisix]# cd apisix-docker/example/
[root@localhost example]# docker-compose -p docker-apisix up -d
上面是执行的命令
结果，就是存在重启问题
CONTAINER ID        IMAGE                                   COMMAND                  C

[2021-12-27 08:59] juzhiyuan commented on #262
Hi @gxthrj, please have a check, thanks!

[2021-12-27 10:02] zaunist commented on #262
Hi, @haoren22 . I can't reproduce your problem, please try another system deployment.
![image](https://user-images.githubusercontent.com/38528079/147460708-c685288f-c028-4840-91c5-9cb0e76d5e9e.png)

There is my environment:
[code]

[2021-12-27 10:39] haoren22 commented on #262
thank, find by update my env

[2021-12-28 01:04] juzhiyuan commented on #262
Hi @haoren22, may I know if your issue has been fixed? 😄 If yes, hope you could provide how to debug that issue & fix that issue.

[2021-12-28 01:52] haoren22 commented on #262
update docker and docker-compose to the latest.

[2021-12-28 02:18] juzhiyuan commented on #262
OK, could we close this issue?

[2021-12-28 08:27] haoren22 commented on #262
可以了

[2021-12-28 10:18] #262 closed

[2021-12-28 10:25] starsz commented on #258
Hi @AnoyiX.
Recommend to use 2.10.1 instead. Refer: https://hub.docker.com/r/apache/apisix-dashboard/tags

[2021-12-28 10:26] AnoyiX commented on #258
@starsz  👍🏻

[2021-12-28 10:26] #258 closed

[2021-12-29 04:47] donge opened #264 "issue: production docker image size doubled"
### Issue description

We use alpine image as default, in latest version 2.11. the size increased a lot.
I would like to debug it, but I found the Dockerfile is not in this repo.

[code]

If you guys can help to point out the packaging path. I can move further

### Environment

- apisix version (cmd: `apisix version`): 2.11
- OS (cmd: `uname -a`): any
- OpenResty / Nginx version (cmd: `nginx -V` o

[2021-12-29 07:08] spacewander commented on #264
The dockerfile of alpine version is https://github.com/apache/apisix-docker/blob/master/alpine/Dockerfile.

From 2.10 to 2.11, we switch the base image to `api7/apisix-base`, which is our custom OpenResty. Its dockerfile is https://github.com/api7/apisix-build-tools/blob/master/dockerfiles/Dockerfile.apisix-base.apk

[2021-12-30 06:18] donge commented on #264
Thanks, debugging on it.

[2022-01-01 07:30] zaunist commented on #92
Hi, please assign to me. @juzhiyuan @bzp2010

[2022-01-02 09:47] zhaobu opened #267 "bug: failed to use etcd service name as etcd endpoint"
### Issue description

使用官方的docker-compos文件,下面这一部分
[code]
此时对应的apisix镜像的配置文件etcd部分是这样的
[code]
这是官方的默认配置是没有问题的.

如果把其中的etcd的部分改成下面这样
[code]
此时对应的etcd配置应当修改为如下
[code]
此时就会启动报错
![image](https://user-images.githubusercontent.com/8935615/147871797-9a9363c3-1918-4b5c-aa1b-83879b3ffe5a.png)

### Environment

[code]

### Steps to reproduce

1. 修改etcd 的label为mf_etcd,container_name为mf_etcd
2. 修改apisix的有关etc

[2022-01-04 05:43] #92 closed

[2022-01-04 13:35] pkking commented on #267
seems like the `resty-etcd` use a regular to check the etcd url, and the rule will reject the char `-`

https://github.com/api7/lua-resty-etcd/blob/f75f4c551b048e00233df38ab725b46218b35de9/lib/resty/etcd/v3.lua#L240
[code]

maybe try with `mf-etcd` instead

[2022-01-05 09:05] LYignore commented on #255
/assign

[2022-01-05 10:56] tokers commented on #267
Oh, yes, and actually `_` is not a valid char in the domain.

[2022-01-05 10:57] tokers commented on #255
@LYignore I have assigned this issue to you, thanks!

[2022-01-05 21:59] juzhiyuan commented on #255
Hi @LYignore, may I know if you need any help?

[2022-01-08 08:53] mohitsaxenaknoldus commented on #127
Where is the version judgement dockerfile?

[2022-01-09 12:22] spacewander commented on #127
Look like it's solved. CC @gxthrj

[2022-01-11 06:11] bzp2010 commented on #255
@LYignore This issue is not the same as your question. This issue is about `apisix-base`.

[2022-01-11 06:18] LYignore commented on #255
@bzp2010 Thank you very much, I made a mistake, I will learn how to fix this problem

[2022-01-11 10:41] Rahul-Soni28 commented on #115
@leenux  https://github.com/qwxingzhe/apisix-docker-compose/pull/2
check this PR I have fixed your issue and added profiles in docker-compose.

[2022-01-13 06:46] spacewander commented on #127
Consider solved. Feel free to reopen it if need.

[2022-01-13 06:46] #127 closed

[2022-01-17 11:26] haoxins opened #272 "The dev image is broken"
The latest dev image can't start correctly, [Docker hub link](https://hub.docker.com/layers/apache/apisix/dev/images/sha256-84b4561af462f48ebd0b04a60e8b9c5aa1aeffdd20a3b38bf81d0313dded1d8d)

[code]

the error messages are

[code]

But with image `2.11.0-alpine` no any issue found.

I deploy APISIX with the official Helm chart.

[2022-01-18 01:54] leslie-tsang commented on #272
Hello there, a new version has been released, can you try the new version?

[2022-01-18 02:53] haoxins commented on #272
https://hub.docker.com/layers/apache/apisix/dev/images/sha256-e04e8c3cce0344faba4dfc040c19e97750a7ac90a4a58f25a1a4355d4e753ede?context=explore fixed this issue, thanks~

[2022-01-18 02:53] #272 closed

[2022-01-20 02:58] leslie-tsang commented on #267
Cool, After reading of [RFC1123](https://www.ietf.org/rfc/rfc1123.html#section-2) and [RFC952](https://www.ietf.org/rfc/rfc952.html), I'm wondering if we should use it as a `DNS domain` or `Host` ?

[code]

[code]

If we use it as an hostname, we should avoid `_` in the config.

[2022-01-20 03:09] leslie-tsang commented on #267
After reading [lua-resty-etcd test case ](https://github.com/api7/lua-resty-etcd/blob/master/t/v3/opt.t#L32-L71), I think the answer is clear, let's use it as a `Host`.

@juzhiyuan Consider solved. Feel free to reopen it if needed.

[2022-01-20 03:09] #267 closed

[2022-01-21 02:07] grainrain opened #274 "request help: Invalid plugin data should have required property 'client_id' (openid-connect)"
Issue description
apisix installation by docker-compose https://github.com/apache/apisix-docker/tree/master/example
when enable openid-connect plugin , happer error
error image url : https://github.com/grainrain/issues/blob/main/Snipaste_2022-01-21_08-41-49.png
Invalid plugin data should have required property 'client_id'
above operation by apisix dashboard, I can not find any place can fill clien

[2022-01-21 02:15] starsz commented on #274
Hello, @grainrain .
You should pass your config like this:
![image](https://user-images.githubusercontent.com/25628854/150453418-65011d8f-eec6-4963-8193-dea33bb8dab9.png)

And the openid-plugin config, you can refer: https://apisix.apache.org/docs/apisix/plugins/openid-connect

[2022-01-21 02:23] grainrain commented on #274
Thanks for  your reply

https://github.com/grainrain/issues/blob/main/2022-01-21_09-41-42.png

please view the image url , I can not edit , Raw Data Editor disable

[2022-01-27 01:52] gxthrj commented on #115
Close this issue now, it has been fixed.

[2022-01-27 01:52] #115 closed

[2022-01-27 12:44] #255 closed

[2022-01-28 15:18] jiangy opened #277 "bug: apache/apisix:2.12.0-alpine image misses some packages"
There are maybe some problem for the building of apache/apisix:2.12.0-alpine.
It misses some packages such as openldap-dev which makes ldap-auth plugin load failed

[2022-01-29 02:12] spacewander commented on #277
Can't reproduce on my side. Also the openldap-dev is listed in the Dockerfile: https://github.com/apache/apisix-docker/blob/ced794a6e94f905e0b9998f3b7554d22bed70a7d/alpine/Dockerfile#L43

[2022-01-29 06:36] jiangy commented on #277
reproduce：
`
➜  example git:(master) git remote -v
origin	https://github.com/apache/apisix-docker.git (fetch)
origin	https://github.com/apache/apisix-docker.git (push)
➜  example git:(master) vim docker-compose.yml
➜  example git:(master) ✗ git diff | cat
diff --git a/example/docker-compose.yml b/example/docker-compose.yml
index a182f39..0e972b8 100644
--- a/example/docker-compose.yml
+++ b/exampl

[2022-01-29 06:40] jiangy commented on #277
![image](https://user-images.githubusercontent.com/2594973/151650654-aa219756-cfea-447a-84ef-70316ae93254.png)

[2022-01-30 06:28] spacewander commented on #277
Thanks for the report!

[2022-02-07 06:20] #277 closed

[2022-02-13 10:05] #264 closed

[2022-02-24 09:09] mangoGoForward opened #288 "docs: need update README."
As the [issue](https://github.com/apache/apisix/issues/6332) said, there should be `make build-dashboard-centos` or `make build-dashboard-alpine` instead of `make build-dashboard`.

And I noticed that the current context is `All in one Docker container for Apache apisix-dashboard`, but all-in-one would not build dashboard image.

**Expected behavior**
1. make a new section to describe build dashbo

[2022-02-24 09:59] tokers commented on #288
@mangoGoForward Welcome to submit a PR!

[2022-03-01 01:41] #288 closed

[2022-03-07 10:07] #274 closed

[2022-03-10 12:18] VineFiner opened #290 "WARNING: Network apisix_apisix not found."
I use the demo and it fails when stopped.

[code]

Warning

[code]

[2022-03-11 01:33] tokers commented on #290
How did you start these containers? Could you provide the reproduce steps.

[2022-03-11 01:40] leslie-tsang commented on #290
Removing network apisix_apisix
WARNING: Network apisix_apisix not found.

It's acceptable if the network is not found when during `docker-compose down`

[2022-03-11 01:57] VineFiner commented on #290
https://apisix.apache.org/docs/apisix/getting-started/

[code]

[2022-03-11 05:40] VineFiner commented on #290
docker-compose -p docker-apisix down

[2022-03-11 05:40] #290 closed

[2022-03-22 00:52] anjia0532 opened #292 "[feature]Work With Non-Root Containers"
ref bitnami blog [Work With Non-Root Containers for Bitnami Applications](https://docs.bitnami.com/tutorials/work-with-non-root-containers/)

wechat group  screenshots

![image](https://user-images.githubusercontent.com/15098916/159386194-2f3b1497-5c9f-405f-95d7-70c8ec10b7ac.png)
![image](https://user-images.githubusercontent.com/15098916/159386212-9b525e8a-3be3-4022-b007-fbeac5b9f349.png)

[2022-03-22 01:29] tokers commented on #292
@anjia0532 Could you describe the problem instead of using images?

[2022-03-22 01:41] anjia0532 commented on #292
Images is not the point.

Run the containers with `root` is unsafe.

[2022-03-22 09:22] tokers commented on #292
Get back to the subject, I think giving users a choice to run APISIX with non-root permission users are quite important, and we already have a PR to track this feature, see https://github.com/apache/apisix-docker/pull/257 for details.

[2022-03-22 09:36] anjia0532 commented on #292
Edited.

[2022-04-14 00:08] tao12345666333 opened #297 "security: Need to update the alpine image version CVE-2022-28391"
Alpine Linux is affected by a serious security CVE-2022-28391 https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-28391

The AlpineLinux Release Note https://alpinelinux.org/posts/Alpine-3.12.12-3.13.10-3.14.6-3.15.4-released.html

We should update the currently used Alpine Linux image version.

[2022-04-14 01:19] tokers commented on #297
👍

[2022-04-17 08:46] Chever-John opened #300 "Redesign the document architecture of apisix-docker"
# Issue description

## Current situation

Now we have many following commands:

[code]

Although we have many useful commands, the fact is that our README.md file does not cover them all.

A good documentation organization can facilitate developers to add some useful content.

I want to finish this task to redesign the structure of the README.md

## Proposal

My tentative plan for the file struct

[2022-04-17 11:24] spacewander commented on #300
I would suggest organizing the doc according to the purpose: centos/alpine/dev/arm64/all-in-one/dashboard, not the build/push operation.

CC @juzhiyuan

[2022-04-18 00:45] Chever-John commented on #300
Hi, I have changed the structure. Please review it. @spacewander

- centos
  - X86-64
    - normal use:
      make build-on-centos
      make push-on-centos
      make save-centos-tar
    - dev:
      make build-on-alpine-dev
    - alpine:
      make build-on-alpine
      make build-on-alpine-cn
      make build-on-alpine-local
      make push-on-alpine
      make save-alpine-tar
    - All-in-one:

[2022-04-18 00:50] Chever-John opened #301 "Typo error(maybe): make push-multiarch-dashbaord"
I found the typo error(maybe).
Reproduction:
1. run `make help`;
2. and find the command `make push-multiarch-dashbaord` (please notice the **dashbaord**)

maybe typo error？

If so, I am happy to help!

[2022-04-18 01:24] tokers commented on #300
Besides the structures, what contents will be written there? Only the directive? I hope some tips should be given such as the limitations on this arch.

[2022-04-18 01:25] tokers commented on #301
@Chever-John Assigned to you.

[2022-04-18 02:41] Chever-John commented on #300
@tokers

There will, of course, be descriptive information about each command. As well as possible caveats, such as hints on system architecture requirements.

The expected result to be achieved could look like this: https://en.cppreference.com/w/cpp/utility/optional#:~:text=T-,Member%20functions,-(constructor)

[2022-04-18 02:42] Chever-John commented on #300
If there are no additional things to note, I will write the first version of the document out tonight first.

[2022-04-18 06:44] spacewander commented on #300
It's confusing. Why centos is the same level of `make help`? And there is no need to write a doc about `make help` or `make save-` or `make upload-` which are unnecessary for the users.

[2022-04-18 06:45] #301 closed

[2022-04-20 02:36] juzhiyuan commented on #300
also cc @navendu-pottekkat

[2022-04-20 05:12] navendu-pottekkat commented on #300
One thing to note is that we should ensure parity between the README and the APISIX Docker docs on the website. README can be made as simple as possible in my opinion since more information can be presented in a better format in the website.

[2022-04-20 14:46] membphis opened #303 "doc: update https://hub.docker.com/r/apache/apisix, focus on `how to use`"
https://hub.docker.com/r/apache/apisix

we should focus on `how to use`.

the users should not focus on `how to build`, it is wrong

[2022-04-21 12:22] Chever-John commented on #300
Yes, but this repository is developer-oriented and not user-oriented. What I am trying to do is improve the completeness of the documentation and the extensibility.

[2022-04-24 15:21] cppcoffee opened #304 "apisix example docker-compose start-up failure"
cd example
docker-compose -p docker-apisix up -d

docker ps
[code]

docker logs dockerapisix_apisix_1
[code]

How to solve permission denied?

[2022-04-25 02:00] #304 closed

[2022-04-25 02:01] cppcoffee commented on #304
Solved after disabling selinux.

[2022-04-27 02:58] VioletZhouECE commented on #300
I'd like to work on this issue. Please assign this to me.

[2022-04-27 05:54] Chever-John commented on #300
@VioletZhouECE
Hi, can you say something about this issue? I'd be happy if you could suggest ways to improve this proposal～

[2022-04-27 06:02] navendu-pottekkat commented on #300
We could also focus on how to use the Docker image/Docker compose file instead of focusing on building the Docker image. Users would likely only care about the Docker image and the files and not about how to build their own images.

[2022-04-27 06:30] Chever-John commented on #300
@navendu-pottekkat
Yes, we need to think about our users. And we must insist that this document should be intended for users.
Please continue your work with this goal~ @VioletZhouECE

[2022-04-27 20:51] VioletZhouECE commented on #300
Thanks for the comments! Here is a draft README that mostly follows the file structure Chever proposed with some small modifications - the main change I made is separating APISIX and APISIX dashboard into their own sections: https://github.com/VioletZhouECE/apisix-docker#all-commands
Let me know if the structure makes sense.

I'm not sure about the supported arch for each command so I didn't add t

[2022-04-28 02:27] Chever-John commented on #300
@VioletZhouECE
Hi, we do not need commands like `make tar` & `make save`.
We need the commands contained in this [link](https://hub.docker.com/r/apache/apisix)

[2022-04-28 04:57] spacewander commented on #300
A command list is not what we want for the new doc.
See:
https://github.com/apache/apisix-docker/issues/303
https://github.com/apache/apisix-docker/issues/300#issuecomment-1110577375

@navendu-pottekkat
Could you provide some guide to the contributor?

[2022-04-28 05:00] navendu-pottekkat commented on #300
@VioletZhouECE https://github.com/apache/apisix-docker/issues/300#issuecomment-1110577375 pretty much sums up the change needed in the document.

[2022-04-28 05:02] navendu-pottekkat commented on #300
There are already docker-compose files and docker images. We want to help the user use those and get APISIX running. We do not want to show them how to build the docker image (because we have already built them and pushed to docker hub). The building part can be added to the end of the doc for developers who require some customization.

[2022-04-29 03:01] VioletZhouECE commented on #300
Hmm I'm still a little confused...
I think the existing doc already explains how to get APISIX running:
[code]
and
[code]

Can you give an example of what you meant by "helping the users use those commands"? What else do you think we need to document for `make build-all-in-one`, for example? Maybe different configs/flags they can use for docker run? Or how to do simple testing with the running con

[2022-04-29 03:52] navendu-pottekkat commented on #300
First would be how to use the Docker compose files to start APISIX, what are the configurations in the file etc.

Second would be how to use these Docker images https://hub.docker.com/search?q=apache%2Fapisix

Third would be how they can modify and make custom Docker images of APISIX.

[2022-05-04 23:21] VioletZhouECE commented on #300
Gotcha!
Yeah I think we need to document how to use the Docker compose files to start APISIX.

I started some documentation (still WIP)
In **Run with Docker-compose**, I documented how to use the existing docker compose file, components/services in the docker compose file, and how the configs can be modified (maybe we can add more documentations for other common non-trivial modifications to the do

[2022-05-04 23:36] VioletZhouECE commented on #300
I also have some questions:
1. Is `/alpine/Dockerfile` in the repo the same as `apache/apisix:2.13.1-alpine`? If not, what are the differences and which one should the user use?
2. What is the purpose of having `web1` `web2` services in `/example/docker-compose.yaml`? Seems like APISIX can be started without them.

[2022-05-05 00:00] Chever-John commented on #300
@VioletZhouECE
1. Maybe you're talking about `apisix-docker/all-in-one/apisix/Dockerfile` and `apisix-docker/alpine/Dockerfile`. The former packs an extra etcd, which makes it possible to fully boot APISIX after installation, while the latter just packs an APISIX image.

[2022-05-11 01:20] VioletZhouECE commented on #300
I just opened a draft PR:
https://github.com/apache/apisix-docker/pull/305

[2022-05-15 12:16] tokers commented on #297
@tao12345666333 We may do this by ourselves.

[2022-05-17 03:13] VioletZhouECE commented on #300
It seems like apisix and apisix dashboard are in two different places: https://hub.docker.com/r/apache/apisix, https://hub.docker.com/r/apache/apisix-dashboard, but they share the same README. Is it possible to have separate README for apisix and apisix dashboard? It is kinda difficult to find docs for apisix dashboard if we mix it with the huge amount of docs for apisix and put the docs for apisi

[2022-05-17 14:34] VioletZhouECE commented on #300
Hi guys! I have some thoughts:
1. I think it's better to replace the `build` makefile commands with the actual docker build command for 2 reasons:
    1. From my understanding, most users will pull the docker hub image and read the documentation from the docker hub. So to use the makefile commands, they have to do the extra work of cloning the apisix-docker github repo and get used to a different

[2022-05-18 01:26] tokers commented on #300
Agree with you. Let's write a prerequisites section.

[2022-05-18 01:28] tokers commented on #300
I don't think so, and you can also check out the `.github/workflows` to verify it.

[2022-05-18 04:42] spacewander commented on #300
Only `alpine` & `centos` are the official release. Other images are considered as example or just for test.

[2022-05-18 04:43] spacewander commented on #300
@juzhiyuan @navendu-pottekkat
Please take charge of it, thanks!

[2022-05-18 05:12] navendu-pottekkat commented on #300
Makes sense to have separate docs for both in Docker Hub. As you mentioned pointing to APISIX docs in the dashboard docs saying that you have to get APISIX running first is also a good idea.

[2022-05-19 04:09] VioletZhouECE commented on #300
Okay I made some changes to the doc (see this draft PR).

Inspired by other docker hub docs (i.e.[httpd](https://hub.docker.com/_/httpd), thanks @Chever-John for sending the reference docs), I restructured the doc. Now it contains 5 sections:

- What is APISIX
- Image variants
- How to run APISIX
- How to build this Image
- Notes

I also removed everything related to the dashboard as we now decide

[2022-05-19 04:12] navendu-pottekkat commented on #300
@VioletZhouECE Is the PR ready for review?

[2022-05-19 04:15] VioletZhouECE commented on #300
It's not very polished, but some feedbacks on the general structure(i.e. which part is redundant/missing/needs more details) would be very helpful.

[2022-05-24 03:54] stubbornTanzhe opened #308 "help request: apisix docker instance recommend resource value"
### Description

is there any recommend resource value for operator to implement apisix instance in k8s?
better resource value per release version

### Environment

- APISIX version (run `apisix version`): 2.13.1
- Operating system (run `uname -a`):3.10.0-1160.el7.x86_64
- OpenResty / Nginx version (run `openresty -V` or `nginx -V`):nginx version: openresty/1.19.9.1
- etcd version, if relevant (ru

[2022-05-25 01:51] tzssangglass commented on #308
cc @tao12345666333

[2022-05-25 09:28] tokers commented on #308
By saying "resource value", do you mean the CPU and memory request and limit?

[2022-05-26 08:18] stubbornTanzhe commented on #308
yes, cpu and memory resource

[2022-05-26 08:21] stubbornTanzhe commented on #308
maybe some best suggestion,such as "better performance on multi-core" or "multi-core unnecessary" or "100Mi at least"?

[2022-05-26 08:55] tao12345666333 commented on #308
For performance, it's not just about CPU and memory, there are many things to consider, such as how to handle connections, whether to compress, timeout, keep-alive etc.

If you focus the question on the CPU, the number of cores is directly related to the configuration of APISIX's `worker_processes`. But you also need to pay attention to the configuration of `worker_cpu_affinity`.

[2022-05-27 22:30] VioletZhouECE opened #310 "Add Quick Reference and License to README.md"
**Description**
The **Quick Reference** and the **License** section are present in the docs of most of the apache images. We need to these two sections our README.md.

[2022-06-05 10:04] #303 closed

[2022-06-15 09:18] liujun69 opened #315 "some question in build apisix-docker all in one"
it always failed in stage
`luarocks install https://github.com/apache/apisix/row/master/rockspec/apisix-${APISIX_VERSION}-0.rockspec --tree=/usr/local/apisix/deps PCRE_DIR=/usr/local/openresty/pcre`
and prompt connect refused
Whether I turn on the network proxy or not

[2022-06-16 01:48] tokers commented on #315
The reason is clear, the `luaxxhash` repo cannot be cloned, might be due to the network problem.

[2022-06-23 02:48] liujun69 opened #320 "All-in-one dockerfile proxy setting problem"
now:
RUN set -x \
    && (test "${ENABLE_PROXY}" != "true" || /bin/sed -i 's,http://dl-cdn.alpinelinux.org,https://mirrors.aliyun.com,g' /etc/apk/repositories)
edited:
RUN set -x \
    && (test "${ENABLE_PROXY}" != "true" || /bin/sed -i 's,https://dl-cdn.alpinelinux.org,https://mirrors.aliyun.com,g' /etc/apk/repositories)

[2022-06-28 07:47] #300 closed

[2022-06-28 07:48] Chever-John commented on #300
This issue is solved by @VioletZhouECE
If you have another problem, feel free to reopen it again~

[2022-06-29 08:53] yatopyatop opened #323 "执行docker-compose后apisix服务启动"
执行docker-compose启动apisix后，apisix和dashboard启动失败，etcd报错，报错如下:
docker启动后镜像：
![image](https://user-images.githubusercontent.com/108379990/176394766-832ff581-a21a-4617-813a-b70b267b4210.png)

apisix报错信息：
![image](https://user-images.githubusercontent.com/108379990/176395151-770f1a7c-3c6c-405f-80d7-60e87e7ded5f.png)

dashboard报错信息：
![image](https://user-images.githubusercontent.com/108379990/176395367-c

[2022-07-04 08:29] wennuanwk opened #325 "apache/apisix:2.14.1 pod status: Restarting"
容器日志如下：
`/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
WARNING: using fixed Admin API token has security risk.
Please modify "admin_key" in conf/config.yaml .
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init_etcd
nginx: [alert] could not open error log file: open() "/usr/local/apisix/logs/error.log" failed (13: Permission denied)
2022/07/04 14:55:08 [emerg]

[2022-07-04 08:30] wennuanwk commented on #325
apisix容器启动失败问题

[2022-07-04 09:00] tokers commented on #325
@wennuanwk Please reformat the error log, it's hard to understand.

From the error log we can know it's due to the permission, so which user you're using to run APISIX?

[2022-07-04 09:05] tao12345666333 commented on #325
Did you mount some volumes?

Also, did you use the official Helm chart to complete the deployment?

[2022-07-04 09:06] wennuanwk commented on #325
没有啊

[2022-07-05 01:41] wennuanwk commented on #325
`# 上传本地文件到虚拟机
put C:\Soft\code\apisix-docker.zip /opt
# 解压
unzip apisix-docker.zip
# 进入目录
cd apisix-docker
# 修改权限
chmod -R 777 example/
# 进入example目录下
cd example
# 启动docker容器脚本
docker-compose -p docker-apisix up -d`

查看镜像就出现如下：

- `8b178d11321a        apache/apisix:2.14.1-alpine           "sh -c '/usr/bin/a..."   18 hours ago        Restarting (1) 5 minutes ago

[2022-07-05 02:36] tzssangglass commented on #325
why need this? and can you try to use `755`?

[2022-07-05 02:42] wennuanwk commented on #325
不行

[2022-07-05 05:17] tzssangglass commented on #325
is this useful for you: https://github.com/apache/apisix-docker/issues/304

[2022-07-05 05:21] wennuanwk commented on #325
不行，日志还是这样：

`/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init_etcd
nginx: [alert] could not open error log file: open() "/usr/local/apisix/logs/error.log" failed (13: Permission denied)
2022/07/05 11:41:45 [emerg] 1#1: open() "/usr/local/apisix/logs/error.log" failed (13: Permission denied)
`

[2022-07-06 15:21] vmaillot opened #326 "feature request/security: avoid container running root"
Hey there,

In advance, thanks for your time and help.

# Context

I was trying to make Apisix run in a OpenShift cluster but without having root running the container. To do so I am using the official upstream Helm [chart](https://github.com/apache/apisix-helm-chart). I was able to run everything but the Apisix deployment without root.
A work around is to use the [SCC](https://docs.openshift.com/

[2022-07-07 01:15] tokers commented on #326
Yes, the `nginx.conf` is generated when APISIX just starts. We may add the write and execute permission for the path `/usr/local/apisix/conf`.

[2022-07-07 02:10] RexHuang opened #327 "The maximum number of active connections for UID 0 has been reached"
### Current Behavior

$ docker-compose up

### Expected Behavior

apisix should up and running

### Error Logs

$ docker-compose up
Creating network "example_apisix" with driver "bridge"
Creating example_apisix-dashboard_1 ... error
Creating example_etcd_1             ...

ERROR: for example_apisix-dashboard_1  Cannot start service apisix-dashboard: oci runtime error: The maximum number of active

[2022-07-07 07:32] vmaillot commented on #326
Right, your suggestion is nice and it would be awesome if you could implement this feature. Thanks for your effort here!

[2022-07-07 07:40] wennuanwk commented on #325
大家好，问题已经解决了，非常感谢大家。我之前的docker版本为1.13.1，更新docker版本为20.10.17,就没有问题了

[2022-07-07 09:32] tokers commented on #325
@wennuanwk Do you know any related changes after Docker `1.13.1`?

[2022-07-07 10:27] tao12345666333 commented on #325
Docker 1.13.1 is too old 😮‍💨

[2022-07-08 03:50] tzssangglass commented on #326
we can do this in Dockerfile?

[2022-07-08 04:18] tzssangglass commented on #327
pls check and increase the `ulimit`

[2022-07-08 07:26] RexHuang commented on #327
systemctl restart docker.socket can solve the probelm.
Thanks tzssangglass any way.

[2022-07-08 07:26] #327 closed

[2022-07-08 07:31] RexHuang opened #328 "user-agent HAS not working"
Want to redirect user-agent with MS Edge browser. but not working.
settings:
{
  "uri": "/*",
  "name": "test",
  "methods": [
    "GET",
    "POST",
    "PUT",
    "DELETE",
    "PATCH",
    "HEAD",
    "OPTIONS",
    "CONNECT",
    "TRACE"
  ],
  "vars": [
    [
      "user-agent",
      "HAS",
      "Edg"
    ]
  ],
  "plugins": {
    "proxy-rewrite": {
      "host": "x.x.x.x:3000"
    }
  },

[2022-07-08 10:51] xuheavyrain opened #329 "apisix配置grafana地址"

[2022-07-08 10:51] xuheavyrain opened #330 "apisix配置grafana地址"

[2022-07-08 14:22] #330 closed

[2022-07-09 10:06] #308 closed

[2022-07-10 04:54] RexHuang commented on #328
move to apisix-dashboard issue

[2022-07-10 04:54] #328 closed

[2022-07-10 09:50] tokers commented on #326
I think so.

[2022-07-10 12:22] tokers commented on #329
@xuheavyrain Could you provide more details?

[2022-07-11 10:04] #310 closed

[2022-07-12 09:42] whichdew opened #331 "bug: probe failed"
### Current Behavior

![image](https://user-images.githubusercontent.com/20438962/178460531-c74067b7-b261-4eb0-bde3-194d0715efa0.png)

[code]
As you can see, etcd and dashboard can't start

### Expected Behavior

_No response_

### Error Logs

_No response_

### Steps to Reproduce

1. kubeadm 1.24.2
2. create pv without storageClassName
3. helm install apisix apisix -n apisix

### Environment

- A

[2022-07-12 11:00] whichdew commented on #331
## apisix-dashboard
[code]

## apisix-etcd
[code]

[2022-07-13 09:58] whichdew commented on #331
thank you all. with `kubectl logs -f -n apisix [podname]` , i got all the outputs.

it was permissions denied.

[2022-07-13 09:58] #331 closed

[2022-07-14 04:39] rizkyarmanto opened #332 "how to use https and port 9443?"
Secure Connection Failed

An error occurred while connecting to 192.168.35.19:9443. The other party reports an internal error has occurred.

Error code: SSL_ERROR_INTERNAL_ERROR_ALERT

    The page that you want to open cannot be displayed because the authenticity of the data received cannot be verified.
    Please contact the website owner regarding this matter.

error: [error] 47#47: *3033 [lua]

[2022-07-14 10:38] tokers commented on #332
Hi, how did you send requests to APISIX? Please give us the minimum reproducible steps.

[2022-07-15 01:34] rizkyarmanto commented on #332
i send https://telaga.solu.co.id:9443/api , but i get error: [error] 47#47: 3033 [lua] radixtree_sni.lua:145: match_and_set(): failed to find any SSL certificate by SNI: telaga.solu.co.id, context: ssl_certificate_by_lua, client: 192.168.35.1, server: 0.0.0.0:9443

[2022-07-15 01:35] rizkyarmanto commented on #332
i use cert from openssl

[2022-07-15 01:37] rizkyarmanto commented on #332
i have configure ssl from dashboard and enable ssl in apisix_conf/config.yaml. what can i do next?

[2022-07-15 03:13] tzssangglass commented on #332
you need to add an SSL object and set snis as `telaga.solu.co.id`, ref: https://github.com/apache/apisix/blob/master/docs/en/latest/admin-api.md#ssl

[2022-07-15 08:16] rizkyarmanto commented on #332
i success use https for api apisix. thank @tokers @tzssangglass

[2022-07-15 08:34] tao12345666333 commented on #332
Looks like the issue has been resolved, I will close this one. thanks

[2022-07-15 10:31] myoss opened #333 "question: use local code how to build"
use local apisix code and `api7/apisix-base:1.19.9.1.6`  base image, how to build?

[2022-07-18 06:51] rizkyarmanto opened #334 "error code 404 but sometimes 200"
i fetch data from api but get error code 404 but sometimes 200

![image](https://user-images.githubusercontent.com/89382138/179458124-d074b75b-b70b-452b-9dbc-9520ff58d232.png)
![image](https://user-images.githubusercontent.com/89382138/179458136-282f9d46-3253-4dda-8e87-c3854a027517.png)

any suggestions to solve the problem?

[2022-07-19 10:05] tzssangglass commented on #333
If you are making images, you can write your own Dockerfle.

Not relevant to this project, so close it.

[2022-07-19 10:05] #333 closed

[2022-07-20 05:28] lilien1010 commented on #334
@rizkyarmanto  you need elaborate more details to allow people to help you solve the issue

[2022-07-22 11:09] sai110 opened #336 "bug:"
### Current Behavior

使用docker部署apisix时，apisix一直无法启动，一直报这个错误，example文件夹已经执行了chmod -R 777 /opt/apisix-docker/example/

### Expected Behavior

_No response_

### Error Logs

nginx: [alert] could not open error log file: open() "/usr/local/apisix/logs/error.log" failed (13: Permission denied)

### Steps to Reproduce

1.docker-compose up -d

### Environment

centos 7.9

[2022-07-22 13:55] tzssangglass commented on #336
same as: https://github.com/apache/apisix-docker/issues/304

[2022-07-31 10:04] #315 closed

[2022-08-02 03:25] Chever-John commented on #329
Hi, I will solve it~

[2022-08-06 03:17] IvanS297 commented on #64
I have a similar problem, but it only occurred to me when I downloaded the duino coin master and ran it through the command line
<head><title>403 Forbidden</title></head>
<body bgcolor="white">
<center><h1>403 Forbidden</h1></center>
<hr><center>nginx</center>
</body>
</html>
: 0)

[2022-08-07 10:04] #320 closed

[2022-08-08 02:18] stubbornTanzhe opened #341 "help request: centos dockerfile"
is there a dockerfile which can build from source on centos?

[2022-08-08 05:39] spacewander commented on #341
You can create one based on https://github.com/apache/apisix-docker/blob/master/centos/Dockerfile. Install your dependencies and mount your own code.

[2022-08-08 06:41] stubbornTanzhe commented on #341
@spacewander apache-apisix-repo-1.0-1.noarch.rpm build dependencies and detail is under the hood, it's better the community can have a dockerfile which build from source on centos,so developers and track the dockerfile for updates and for long term

[2022-08-09 04:02] spacewander commented on #341
The problem is that we have to maintain the same build process between apisix-build-tool & apisix-docker, which is troublesome...

[2022-08-09 04:02] #341 closed

[2022-08-09 10:18] vmaillot commented on #326
@tzssangglass @tokers any news?

[2022-08-09 15:11] tzssangglass commented on #326
someone work on this:https://github.com/apache/apisix-docker/search?q=root+is%3Apr&type=issues, but no one seems to be pushing it to master eventually.

[2022-08-13 10:04] #323 closed

[2022-08-21 10:04] #325 closed

[2022-08-26 04:26] usrtax opened #343 "试图运行单机模式报错： failed to fetch /usr/local/apisix/conf/apisix.yaml attributes: cannot obtain information from file '/usr/local/apisix/conf/apisix.yaml': No such file or directory"
<img width="961" alt="image" src="https://user-images.githubusercontent.com/110233389/186821913-5b6e017b-7985-405e-b85a-8c31510ccccb.png">

[code]

[2022-09-03 10:04] #334 closed

[2022-09-05 06:59] cnn007 opened #347 "help: 使用example项目创建的服务，启动后 apisix_log/error.log 一直warn"
使用的是 example 目录，创建的docker 服务，error.log 一直 warn.
这个关系大吗，需要额外处理吗。

`
2022/09/05 14:11:32 [warn] 44#44: *10989114 [lua] v3.lua:213: version(): http://etcd:2379: failed to parse domain: failed to parse domain. Retrying, client: 172.25.0.5, server: , request: "GET /apisix/prometheus/metrics HTTP/1.1", host: "apisix:9091"
2022/09/05 14:19:37 [warn] 44#44: *10989114 [lua] v3.lua:213: version(): http://et

[2022-09-05 10:02] tokers commented on #347
Please read your error logs carefully, it already tells you the fact. You should check why the ETCD cluster domain cannot be resolved.

[2022-09-05 10:04] #336 closed

[2022-09-05 12:03] vmaillot commented on #326
Any new status on that?

[2022-09-06 00:22] cnn007 commented on #347
部署在一个ECS上，
![image](https://user-images.githubusercontent.com/13449400/188522827-d0470114-33f6-4ad4-bbb4-cddfd8ca1780.png)

1.docker-compose.yml
`
version: "3"

services:
  apisix-dashboard:
    image: apache/apisix-dashboard:2.13-alpine
    restart: always
    volumes:
    - ./dashboard_conf/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml
    ports:
    - "9000:9000"
    environment:
      -

[2022-09-06 02:38] cnn007 opened #348 "help: 通过控制台配置了SNI后，java请求失败。"
证书：https://apisix.apache.org/zh/docs/apisix/certificate/

SSL证书申请于阿里云的免费证书。

1.通过Apache APISIX Dashboard 配置SSL，还需要 nginx 配置其它内容吗，例如 https 协议的版本兼容性，哪里配置。
![image](https://user-images.githubusercontent.com/13449400/188537251-e0cf6df1-5416-4db5-9e44-309e2a2b6f56.png)

2.通过java访问失败

请求代码如下, 请求百度都是正常，但是改为自己的域名，就失败。
`java`
public static void main(String[] args) {
        // 改成自己的就报错。
        String resu

[2022-09-06 03:12] cnn007 commented on #348
https://github.com/apache/apisix/issues/3037
https://github.com/apache/apisix/issues/4394

[2022-09-06 06:19] soulbird commented on #348
It looks like you didn't bring SNI when you visited, java may need to set an option to enable

[2022-09-06 07:43] cnn007 commented on #348
参考资料：
https://github.com/dromara/hutool/issues/1573
两种解决方法
方式1.升级jdk，
方式2.使用
 <dependency>
            <groupId>org.apache.httpcomponents</groupId>
            <artifactId>httpclient</artifactId>
            <version>4.5.13</version>
        </dependency>

`
// test ok
    private static void testPost() throws Exception {
        Map<String, Object> body = new HashMap<>();
        body.put("param1

[2022-09-07 00:39] #348 closed

[2022-09-09 00:56] cnn007 commented on #347
@tokers 还能帮忙再看下吗，配置文件和服务都启动，上方截图。apisix 资料太少都是官网资料，kong的资料网上就多一些。

[2022-09-09 01:09] cnn007 opened #351 "help：配置log-rotate后，重启服务无数据"
1.看官方示例 log-rotate 是禁用，是不建议使用吗？
2.配置了 log-rotate 后，
没有修改 config.default ,修改 的是  config.yaml 文件，见下图：
![image](https://user-images.githubusercontent.com/13449400/189250887-82c9e1fa-6b87-47c1-9b07-cd814186830f.png)

保存退出，docker-compose restart 后，提示没有系统信息见下图：
![image](https://user-images.githubusercontent.com/13449400/189250956-ee3c8e5c-80b7-45d3-a74c-f1b4dd57cfad.png)
同时 grafana 也没有数据
![image](https:

[2022-09-09 01:42] tokers commented on #351
@cnn007 When you specify `plugins` field in `config.yaml` it will override the `plugins` field in the `config-default.yaml`. So you only enable the `log-rotate` plugin. You need to specify all plugins you need in `config.yaml`.

[2022-09-09 01:42] tokers commented on #347
I already tell you the way.

[2022-09-09 03:07] cnn007 commented on #351
那理解错了，以为配置文件会合并使用，就像springboot的 properties文件。这里是需要复制整个节点的全部内容。

[2022-09-09 03:07] #351 closed

[2022-09-13 08:15] xiaolei000129 commented on #329
我使用了apisix-docker\example 中docker-compose.yml 部署apisix
apisix-docker\example\dashboard_conf\conf.yaml

![image](https://user-images.githubusercontent.com/44334120/189848435-c695de63-2ba0-463d-882c-1f3b03f17730.png)

![image](https://user-images.githubusercontent.com/44334120/189848531-701eab6f-0238-4c18-8894-538924f235c8.png)

[2022-09-13 08:20] xiaolei000129 opened #354 "apisix dashboard Grafana Access errors"
I use the apisix-docker\example\docker-compose.yml deploy apisix
apisix-docker\example\dashboard_conf\conf.yaml

![image](https://user-images.githubusercontent.com/44334120/189849288-63659f36-5ce8-40b5-a8e4-cf961d881532.png)

Access http://127.0.0.1:9000/dashboard Grafana Access errors

![image](https://user-images.githubusercontent.com/44334120/189849380-a2c0251c-8cce-48b8-b3fa-c8e271772b84.png)

[2022-09-13 09:56] tokers commented on #354
cc @bzp2010

[2022-09-13 10:53] Chever-John commented on #329
@xiaolei000129 I don't think that's the way I've configured it.

[2022-09-13 10:54] Chever-John commented on #329
@xiaolei000129 You can try this [method](https://github.com/apache/apisix-docker/pull/340).

[2022-09-13 10:59] Chever-John commented on #354
csp rule problem.
you can refer to this [PR](https://github.com/apache/apisix-docker/pull/340).

[2022-09-14 02:11] #354 closed

[2022-09-25 11:26] tokers commented on #343
@usrtax Do you still have this issue?

[2022-09-27 02:51] spacewander opened #362 "Avoid affecting latest image when pushing a LTS image"
Currently, triggering an image push action in the CI will always push the image as the latest image if the type of the image is Debian.

This will bring us trouble if we are going to release an LTS image. We need to have a mechanism to distinguish these two kinds of images. For example, we can check the patch version number when pushing the latest image.

[2022-09-27 09:50] tokers commented on #362
So, we need to know which versions are LTS in this repo?

[2022-09-28 05:57] spacewander commented on #362
We don't need to know LTS. We just need to filter out all the patch releases.

[2022-09-28 09:49] tokers commented on #362
Got it. Distinguish the patch part in the semantic version?

[2022-09-28 16:38] LimxWu opened #367 "question: etcd in apisix configuration file does not take effect"
I use the docker-compose demo of the official website, but the log shows that apisix does not use the etcd host in the configuration file. Here is my config and log
config.yaml
[code]
log
[code]
I have checked docker-compose, there is the correct mapping config file.
[code]

[2022-09-29 00:09] soulbird commented on #367
It looks like you are using the latest version of the apisix image. In the latest apisix 2.99.0 version we introduced some [break changes](https://github.com/apache/apisix/blob/master/CHANGELOG.md#300-beta), it changed some configuration, we are putting the configuration Synchronized to the example, now you can refer to https://github.com/apache/apisix-docker/pull/366/files#diff-0b92a5887e8750a860

[2022-09-29 01:05] #367 closed

[2022-09-29 02:32] tzssangglass commented on #347
This error log reminded me of this question: https://github.com/apache/apisix/issues/7715

In fact, if you have an environment that can be consistently reproduced, I would track it.

[2022-09-29 05:57] spacewander commented on #362
Yes

[2022-09-29 09:58] Hazel6869 commented on #362
good job !

[2022-09-29 11:48] tokers commented on #362
@Hazel6869 Would you like to do this? Thanks!

[2022-09-30 06:26] tzssangglass commented on #347
Can you provide an online reproduction environment and send it to me via email? I don't have such an environment locally (I've started it many times via the example of the apisix-docker project without this problem)

[2022-10-10 04:13] PhanPirang opened #368 "help: Config as data_plane problem"
I have configured APISIX as decouple mode. The control plane works fine. I can call Admin API however in the data plane container it shows as below:

/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
failed to validate config: property "etcd" validation failed: property "prefix" is required

Furthermore, where can I find more documents or sample repository relate to deployment mo

[2022-10-10 04:52] soulbird commented on #368
Please provide at least your deployment method and configuration file.

[2022-10-10 07:18] PhanPirang commented on #368
Here's my config file:

version: 3.0.0-beta

#control_plane config:

apisix:
  node_listen: 9080
  enable_ipv6: false

  allow_admin:
    - 0.0.0.0/0

  control:
    ip: "0.0.0.0"
    port: 9092

deployment:
  role: control_plane
  role_control_plane:
    config_provider: etcd
    conf_server:
      listen: 0.0.0.0:9280
      cert: /certs/cp/apisix-cp.crt
      cert_key: /certs/cp/apisix-cp.key

[2022-10-10 07:31] vmaillot commented on #326
ping :}

[2022-10-10 09:18] tokers commented on #368
Please re-format your configurations. Also, the role in your data plane config is `control_plane`, this is wrong.

[2022-10-10 09:20] tokers commented on #368
See https://apisix.apache.org/docs/apisix/deployment-modes/.

[2022-10-10 09:42] tokers commented on #326
@vmaillot Is this OK for you?

[2022-10-10 09:45] vmaillot commented on #326
well, can't this be pushed to master somehow?

[2022-10-10 09:48] Hazel6869 commented on #326
hi, i will do it  @vmaillot

[2022-10-10 09:52] PhanPirang commented on #368
What's wrong with my data plane config?

[2022-10-10 09:54] vmaillot commented on #326
hey @Hazel6869 thanks a lot! it is much appreciated

[2022-10-11 01:42] tokers commented on #368
Ignore it.

[2022-10-11 02:22] PhanPirang commented on #368
@tokers Do you have any recommendations for my configuration? The data plane shows below errors:

/usr/local/openresty/luajit/bin/luajit ./apisix/cli/apisix.lua init
failed to validate config: property "etcd" validation failed: property "prefix" is required

[2022-10-11 02:30] tokers commented on #368
I think this is a bug for APISIX 3.0.0, we're trying to fix it.

[2022-10-11 04:02] PhanPirang commented on #368
For APISIX 2.15.0, I also got the same issue.

[2022-10-13 01:20] galaxy-sea opened #369 "manifest for apache/apisix:2.99.0-alpine not found: manifest unknown: manifest unknown"
[code]

![image](https://user-images.githubusercontent.com/30821411/195476930-259a3ea2-fb02-4586-a85d-e52c4456da27.png)

[2022-10-13 08:21] soulbird commented on #369
We will no longer maintain alpine images, please use `debian` or `centos` images.
Also, can you submit a PR to fix the `docker-compose-arm64.yml` file ?

[2022-10-13 08:36] galaxy-sea commented on #369
I have submitted [pr](https://github.com/apache/apisix-docker/pull/370)

[2022-10-14 05:17] #369 closed

[2022-10-14 12:18] Chever-John commented on #329
Terrible~

[2022-10-22 06:16] crazythinking commented on #347
要改为容器内的ip才行，域名解析有问题

[2022-11-06 13:27] qiaogw opened #373 "restart docker error：[emerg] 1#1: bind() to unix:/usr/local/apisix/conf/config_listen.sock failed (98: Address already in use)"
docker-compose：
version: '3.5'
# 网络配置
networks:
  dev_net:
    driver: bridge
# 服务容器配置
services:
  etcd:
      # 自定义容器名称
      image: quay.io/coreos/etcd:v3.5.1 # 镜像
      container_name: etcd
      environment:
        - TZ=${TZ}
        - ETCD_NAME=etcd
        - ALLOW_NONE_AUTHENTICATION=yes
        - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379,http://127.0.0.1:2379
        - ETCD_LISTEN_CLIENT

[2022-11-07 00:23] tokers commented on #373
I remember this is a known issue. The config_listen.sock is not deleted when stop.

[2022-11-08 11:58] sreeraksha opened #374 "Issue starting apisix using docker compose"
I have started the docker using docker compose but its failing to start. I was able to start it initially and was able to configure routes but I believe this issue started after I executed docker-compose -p docker-apisix down and then tried starting it. Please guide me.

Below i have highlighted the error logs of container that failed to start

<img width="938" alt="image" src="https://user-images

[2022-11-09 01:43] qiaogw commented on #373
Image apache/apisix:3.0.0-debian is latest. The bug have closed. why????????????

[2022-11-09 02:21] tokers commented on #373
@spacewander I forget the details about it, do you still remember?

[2022-11-09 05:57] spacewander commented on #373
It is expected to be fixed in https://github.com/apache/apisix/pull/8022

[2022-11-09 06:17] spacewander commented on #373
Could you provide a complete reproducible example? I can't reproduce the issue because the current example lacks files like `./apisix/apisix_conf/config.yaml`.

[2022-11-09 06:21] qiaogw commented on #373
apisix:
  node_listen: 9080 # APISIX listening port
  enable_ipv6: false

  enable_control: true
  control:
    ip: '0.0.0.0'
    port: 9092

deployment:
  admin:
    allow_admin: # http://nginx.org/en/docs/http/ngx_http_access_module.html#allow
      - 0.0.0.0/0 # We need to restrict ip access rules for security. 0.0.0.0/0 is for test.

    admin_key:
      - name: 'admin'
        key: edd1c9f011

[2022-11-10 01:54] shenzhuangzhi1 commented on #374
cant connect to etcd.your should check the health of etcd

[2022-11-10 02:09] shenzhuangzhi1 opened #376 "Find an error when start with `docker-compose up -d `"
up is OK，but when i ran `docker-compose logs` grafana's container printed 2 error:
[code]

[2022-11-10 06:55] spacewander commented on #373
I tried `docker stop/start` the APISIX docker container but everything works OK.

[2022-11-10 10:04] #343 closed

[2022-11-11 09:53] vmaillot commented on #326
@Hazel6869 any progress on your side regarding #371?

[2022-11-14 10:38] hotbaby opened #378 "repo proxy replace error"
https://github.com/apache/apisix-docker/blob/86f65b755697c5c7b72c38e7577d64c047050f32/alpine/Dockerfile#L28

基础镜像`api7/apisix-base:1.21.4.1.2`中软件仓库地址是`https://dl-cdn.alpinelinux.org/alpine/v3.13/main`，使用`bin/sed -i 's,http://dl-cdn.alpinelinux.org,https://mirrors.aliyun.com,g' /etc/apk/repositories` **匹配失败**，应该去掉shceme匹配，例如：`/bin/sed -i 's,dl-cdn.alpinelinux.org,mirrors.aliyun.com,g' /etc/apk/repo

[2022-11-15 08:41] hf400159 opened #379 "docs: APISIX 3.0 has been released, README needs to be modified."
APISIX 3.0 has been released, README needs to be modified.

[2022-11-16 01:09] #362 closed

[2022-11-16 12:23] navendu-pottekkat opened #381 "Remove separate section for APISIX Docker docs"
Currently, the APISIX website has an Apache APISIX Docker subsection of documentation. This is unnecessary as all the documentation mentioned on the page could be moved to APISIX documentation.

This could make it easier to discover docs as they will be within the APISIX docs.

Related issue: https://github.com/apache/apisix-helm-chart/issues/394

[2022-11-17 03:57] juzhiyuan commented on #381
Hi, I have checked both https://github.com/apache/apisix-docker/issues/381 and https://github.com/apache/apisix-helm-chart/issues/394.

No matter Helm or Docker, they belong to the way to install the software, so I agree to move them to each project's documentation 😊

[2022-11-17 09:45] #379 closed

[2022-11-17 10:08] tokers commented on #381
+1

[2022-11-19 06:14] inkeil opened #383 "etcd connection refused"
request etcd endpoint 'http://127.0.0.1:2379/version' error, connection refused
all etcd nodes are unavailable

[2022-11-21 02:18] soulbird commented on #383
Please provide at least the following information:
1. What is the version of APISIX?
2. The etcd configuration block in the configuration file

[2022-11-21 05:53] huanghuanghui commented on #383
I have some problem.
when I installing APISIX use docker.typing
`git clone https://github.com/apache/apisix-docker.git
cd apisix-docker/example
docker-compose -p docker-apisix up -d
`
my docker ps
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/32832946/202975101-ddb85c00-13bb-4f20-849a-e74dcff455bc.png">

docker logs
<img width="1017" alt="image" src="https://user-ima

[2022-11-21 05:57] soulbird commented on #383
Please update the `apache/apisix:latest` image, the latest image id is `4be866d5e4bf`

[2022-11-21 06:13] huanghuanghui commented on #383
thanks.I fix this problem when i change my docker registry-mirrors to https://registry-1.docker.io.I original use aliyun mirros.
before：
<img width="1060" alt="image" src="https://user-images.githubusercontent.com/32832946/202977974-78811046-499b-4eaf-9db4-8e446403590d.png">
after：
<img width="1329" alt="image" src="https://user-images.githubusercontent.com/32832946/202978201-36c5fea5-a4e8-4762-a6

[2022-11-21 06:51] #378 closed

[2022-11-24 02:06] wxbty commented on #373
I use the latest docker apisix-docker, encountered the same problem

[2022-11-24 06:59] spacewander commented on #373
@wxbty
Could you provide an example step by step (including the materials), so that we can reproduce it?

[2022-11-24 08:14] wxbty commented on #373
I deleted everything and started again, can't reproduce now.
I think this may be the reason, using m1 mac, so I used the following command to start
 “docker-compose -p docker-apisix -f docker-compose-arm64.yml up -d”

But when I updated the plugin to restart docker, I used this：
“docker-compose -p docker-apisix restart”
I'm not sure if the problem is caused by not specifying arm.yaml

[2022-11-24 08:59] wxbty commented on #373
@spacewander  Can you help me look at this issue #https://github.com/apache/apisix/issues/8386? I ran a demo, and the reported error was incomprehensible. I tried many methods, but nothing worked.   thx!

[2022-11-25 02:48] tzssangglass commented on #373
maybe, different images are used on the arm system.

[2022-11-26 02:46] jesse996 commented on #383
same issue,but in apisix-dashboadr,version:2.13.1-alpine.  it's ok on 2.13-alpine

[2022-11-28 07:06] Hxhong commented on #373
I have the same problem whether it is mac m1 or centos system. How did you solve it？

[2022-11-28 07:10] Hxhong commented on #373
I have the same problem whether it is mac m1 or centos system. How did you solve it？

[2022-11-28 08:46] Hazel6869 commented on #326
@vmaillot  I'm testing.  sorry～

[2022-11-28 08:49] wxbty commented on #373
@Hxhong  Not resolved, put on hold for now

[2022-11-28 09:38] Hxhong commented on #373
The image I used that matches the system has the same problem. Can you check whether there is a problem with the image?
image: apache/apisix:3.0.0-centos@sha: ee9d7a6224db5781b8561bd7ed3695e41c6808288008ae09307302dcfbeb6c07
env: mac m1
or
image: apache/apisix:3.0.0-centos@sha: 69552d3fab5de23ecca2bd3161b172b796db865458076b38bdc9e766c14a07dc
env: centos 7

[2022-11-28 09:39] Hxhong commented on #373
The image I used that matches the system has the same problem. Can you check whether there is a problem with the image?
image: apache/apisix:3.0.0-centos@sha: ee9d7a6224db5781b8561bd7ed3695e41c6808288008ae09307302dcfbeb6c07
env: mac m1
or
image: apache/apisix:3.0.0-centos@sha: 69552d3fab5de23ecca2bd3161b172b796db865458076b38bdc9e766c14a07dc
env: centos 7

[2022-11-29 10:04] #329 closed

[2022-11-30 03:02] vartruexuan opened #386 "etcd connection loss detected, times: 116"
- **使用的example/下的案例**

- docker-compose up -d 启动成功
![image](https://user-images.githubusercontent.com/20641529/204725350-25741024-0139-4743-a78e-1291e31c16bd.png)

- 可是在apisix-dashboard 内部无法提交，504
![image](https://user-images.githubusercontent.com/20641529/204698934-f692b50d-7eca-4e32-83a2-db604b7dcd09.png)
- 查看 apisix-dashboard/logs/error.log
![image](https://user-images.githubusercontent.com/206

[2022-11-30 10:42] vartruexuan commented on #383
I have the same problem

[2022-11-30 10:50] #386 closed